$main-font: Roboto, sans-serif;

$black: #1b1f2b;
$white: #ffffff;
$light-gray: #a6a6a6;
$gold: #efa501;
$transparentbeige: #f3efe899;
$beigegray: #f4f0e9;
$antiquewhite: #f9f7f4;
$darkgreen: #286562;
$teal: #3b7e7b;
$steelteal: #627f7e;
$mintcream: #e0f0e5;
$timberwolf: #d9dfdb;
$whitesmoke: #f1f3f2;
