$main-font: Roboto, sans-serif;

$black-color: #1b1f2b;
$white-color: #ffffff;
$subtitle-color: #a6a6a6;
$active-color: #efa501;
$border-color: #f4f0e9;
$main-background-color: #f9f7f4;

$border-radius-max-760px: 20px;
$border-radius-min-761px: 50px;
