@charset "UTF-8";
@import "./blocks/basic/reset.css";
* {
  font-family: Roboto, sans-serif;
}

html,
body {
  min-width: 360px;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f9f7f4;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.section--size {
  width: 100%;
  max-width: 1170px;
  margin: 135px auto 0;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  line-height: 73px;
  color: #1b1f2b;
}

.subtitle {
  width: 418px;
  margin: 30px auto 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a6a6a6;
}

@media (min-width: 551px) and (max-width: 1024px) {
  .section--size,
  .footer {
    width: 100%;
    margin: 135px auto 0;
  }
}
@media (max-width: 550px) {
  .section--size,
  .footer {
    width: 100%;
    max-width: 550px;
    margin: 75px auto 0;
  }
  .title {
    width: 330px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #1b1f2b;
  }
  .subtitle {
    width: 320px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
}
.header-block.scrolled-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 88px;
  background-color: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(54px);
          backdrop-filter: blur(54px);
}
.header-block.scrolled-nav .nav-menu__item {
  transition: border-bottom 0.3s ease;
}
.header-block.scrolled-nav .nav-menu__item:hover {
  border-bottom: 1px solid #1b1f2b;
}
.header-block.scrolled-nav .nav-menu__link {
  color: #1b1f2b;
}
.header-block.scrolled-nav .nav__tel {
  color: #1b1f2b;
}

.header {
  height: 831px;
  background: url(../img/header/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (max-width: 550px) {
  .header {
    height: 488px;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  height: 831px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
@media (max-width: 550px) {
  .header::before {
    bottom: 0;
    min-width: 360px;
    height: 488px;
  }
}
.header-block {
  position: absolute;
  left: 0;
  right: 0;
  height: 88px;
  min-width: 360px;
}
.header-block .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 88px;
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  padding: 6px 53px 0;
}
@media (max-width: 550px) {
  .header-block .nav {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    min-width: 320px;
    padding: 0 20px 0;
  }
  .header-block .nav #logo-img {
    width: 133px;
  }
}
.header-block .nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 468px;
  height: 28px;
}
@media (max-width: 950px) {
  .header-block .nav-menu {
    display: none;
  }
}
.header-block .nav-menu__item {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}
.header-block .nav-menu__item:hover {
  border-bottom: 1px solid #ffffff;
}
.header-block .nav-menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.header-block .nav__tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
@media (max-width: 550px) {
  .header-block .nav__tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
}
.header-content {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 88px 0 0 0;
  height: 743px;
  min-width: 360px;
}
@media (max-width: 550px) {
  .header-content {
    height: 400px;
  }
}
.header-content__title {
  width: 100%;
  max-width: 768px;
  margin: 119px auto 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 105px;
  color: #ffffff;
  letter-spacing: 2px;
}
@media (max-width: 720px) {
  .header-content__title {
    max-width: 100%;
    margin: 135px auto 0;
    font-weight: 700;
    font-size: 76px;
    line-height: 90px;
    color: #ffffff;
  }
}
@media (max-width: 550px) {
  .header-content__title {
    width: 360px;
    max-width: 100%;
    margin: 52px auto 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #ffffff;
  }
}
.header-content__subtitle {
  width: 100%;
  max-width: 562px;
  margin: 50px auto 0;
  color: #ffffff;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .header-content__subtitle {
    width: 442px;
  }
}
@media (max-width: 550px) {
  .header-content__subtitle {
    width: 315px;
    max-width: 100%;
    margin: 41px auto 0;
  }
}
.header-content__btn {
  margin-top: 50px;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #1b1f2b;
  cursor: pointer;
}
@media (max-width: 550px) {
  .header-content__btn {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
}
.header-content__btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 34px;
  border-radius: 10px;
  text-decoration: none;
  color: #1b1f2b;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (max-width: 550px) {
  .header-content__btn-text {
    width: 114px;
  }
  .header-content__btn-text:hover {
    background-color: inherit;
    color: #1b1f2b;
  }
  .header-content__btn-text:active {
    background-color: inherit;
  }
}
.header-content__btn-text:hover {
  background-color: #efa501;
  color: #ffffff;
}
.header-content__btn-text:active {
  background-color: #f8e6be;
  color: #1b1f2b;
}

.your-tour-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 53px;
}
@media (max-width: 550px) {
  .your-tour-section {
    padding: 0;
  }
}
@media (max-width: 550px) {
  .your-tour-section-header {
    justify-content: initial;
    height: initial;
  }
}
.your-tour-section-header__title {
  min-width: 598px;
}
@media (max-width: 550px) {
  .your-tour-section-header__title {
    width: 100%;
    min-width: 380px;
  }
}
.your-tour-section-header .header-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 53px;
  width: 100%;
  margin: 35px 0 0 0;
  height: 28px;
  list-style-type: none;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .your-tour-section-header .header-menu {
    flex-flow: row nowrap;
    margin: 35px auto 0;
  }
}
@media (max-width: 780px) {
  .your-tour-section-header .header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 500px;
  }
}
@media (max-width: 550px) {
  .your-tour-section-header .header-menu {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 380px;
    margin: 30px auto 0;
    padding: 0 20px;
  }
}
.your-tour-section-header .header-menu__item {
  padding: 0 13px 10px 0;
}
@media (max-width: 550px) {
  .your-tour-section-header .header-menu__item {
    display: flex;
    padding: 0 4px 4px 0;
  }
}
.your-tour-section-header .header-menu__link {
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #1b1f2b;
  cursor: pointer;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}
@media (max-width: 550px) {
  .your-tour-section-header .header-menu__link {
    padding: 7px 0 0;
    margin-right: 12px;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
  }
}
.your-tour-section-header .header-menu__link.active {
  color: #efa501;
  border-bottom: 2px solid #efa501;
}
.your-tour-section-header .header-menu__link:hover {
  border-bottom: 2px solid #efa501;
  color: #efa501;
}
.your-tour-section-tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1170px;
  margin: 90px 0 0 0;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .your-tour-section-tours {
    gap: 18px;
    min-width: initial;
  }
}
@media (max-width: 780px) {
  .your-tour-section-tours {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .your-tour-section-tours {
    width: 100%;
    max-width: 100%;
    margin: 60px auto 0;
    min-width: 360px;
    gap: 18px;
    padding: 0 21px;
  }
}
.your-tour-section-tours .card-tour {
  position: relative;
  width: 31%;
  height: 531px;
  overflow: hidden;
  border-radius: 50px;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .your-tour-section-tours .card-tour {
    width: 48%;
  }
}
@media (max-width: 780px) {
  .your-tour-section-tours .card-tour {
    max-width: 390px;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour {
    border-radius: 20px;
    width: 100%;
    height: 318px;
  }
}
.your-tour-section-tours .card-tour:hover .card-tour__img {
  transform: scale(1.2);
}
.your-tour-section-tours .card-tour:hover .card-tour-overlay__btn {
  background-color: #286562;
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour:hover .card-tour-overlay__btn {
    background-color: transparent;
  }
}
.your-tour-section-tours .card-tour:hover .card-tour-overlay__btn:active {
  background-color: #efa501;
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour:hover .card-tour-overlay__btn:active {
    background-color: transparent;
  }
}
.your-tour-section-tours .card-tour::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour::before {
    width: 100%;
    border-radius: 20px;
  }
}
.your-tour-section-tours .card-tour__img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: transform 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour__img {
    height: 100%;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.your-tour-section-tours .card-tour-overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 50px;
  left: 50px;
  height: 445px;
  max-width: 240px;
  color: #ffffff;
  z-index: 1;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .your-tour-section-tours .card-tour-overlay {
    right: 50px;
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour-overlay {
    display: flex;
    top: 27px;
    left: 25px;
    right: 24px;
    height: initial;
    max-width: 100%;
  }
}
.your-tour-section-tours .card-tour-overlay__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #1b1f2b;
  color: #ffffff;
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour-overlay__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 1px;
  }
}
.your-tour-section-tours .card-tour-overlay__price {
  margin-top: 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}
.your-tour-section-tours .card-tour-overlay__btn {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 199px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour-overlay__btn {
    top: 240px;
    left: 0;
  }
}
.your-tour-section-tours .card-tour-overlay__btn-text {
  max-width: 199px;
  padding: 7px 16px 7px 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}
@media (max-width: 550px) {
  .your-tour-section-tours .card-tour-overlay__btn-text {
    display: flex;
    align-items: center;
    width: initial;
    padding: 0 16px 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
}

.collect-tour-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 0 53px;
}
@media (max-width: 550px) {
  .collect-tour-section {
    padding: 0 21px;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-header {
    width: 327px;
    max-width: 100%;
  }
}
.collect-tour-section-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 100%;
  margin: 100px auto 0;
  min-width: 918px;
  height: 986px;
  border-radius: 50px;
  background-color: #ffffff;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form {
    width: 100%;
    min-width: initial;
  }
}
@media (max-width: 780px) {
  .collect-tour-section-form {
    height: initial;
    padding: 20px 0;
    flex-flow: column nowrap;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form {
    width: 100%;
    max-width: 100%;
    margin: 40px auto 0;
    min-width: initial;
    padding: 40px 0;
    gap: 5px;
    border-radius: 30px;
  }
}
.collect-tour-section-form .form-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  padding: 0 53px;
  height: 104px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block {
    margin: initial;
    padding: 0 60px;
    gap: 20px;
    width: 100%;
  }
}
@media (max-width: 780px) {
  .collect-tour-section-form .form-block {
    height: initial;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block {
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
    gap: 8px;
    min-width: initial;
  }
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block__label {
    width: 49%;
  }
}
@media (max-width: 780px) {
  .collect-tour-section-form .form-block__label {
    width: 100%;
  }
}
.collect-tour-section-form .form-block__input, .collect-tour-section-form .form-block-select {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 8px auto 0;
  min-width: 389px;
  height: 68px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f9f7f4;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
  text-indent: 20px;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block__input, .collect-tour-section-form .form-block-select {
    max-width: 100%;
    min-width: initial;
  }
}
@media (max-width: 780px) {
  .collect-tour-section-form .form-block__input, .collect-tour-section-form .form-block-select {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block__input, .collect-tour-section-form .form-block-select {
    width: 100%;
    max-width: 100%;
    margin: 8px auto 28px;
    min-width: initial;
    height: 43px;
    cursor: default;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
}
.collect-tour-section-form .form-block-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(./../img/main/icons/ic-dropdown.svg) no-repeat right;
  background-color: #f9f7f4;
  background-position-x: calc(100% - 20px);
  color: #a6a6a6;
}
.collect-tour-section-form .form-block-select:valid {
  color: #1b1f2b;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-select {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
  .collect-tour-section-form .form-block-select:focus {
    outline: none;
    border: none;
  }
}
.collect-tour-section-form .form-block #from-date,
.collect-tour-section-form .form-block #to-date {
  color: #1b1f2b;
  text-indent: 10px;
}
.collect-tour-section-form .form-block #from-date:invalid,
.collect-tour-section-form .form-block #to-date:invalid {
  text-transform: uppercase;
  color: #a6a6a6;
}
.collect-tour-section-form .form-block #from-date::-webkit-calendar-picker-indicator,
.collect-tour-section-form .form-block #to-date::-webkit-calendar-picker-indicator {
  opacity: 0;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block__input:focus {
    outline: none;
    border: none;
  }
}
.collect-tour-section-form .form-block__input::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a6a6a6;
  text-indent: 20px;
}
.collect-tour-section-form .form-block__input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a6a6a6;
  text-indent: 20px;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
  .collect-tour-section-form .form-block__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
}
.collect-tour-section-form .form-block__input:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}
.collect-tour-section-form .form-block-select:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}
.collect-tour-section-form .form-block-comment {
  padding: 0 60px;
  height: 190px;
  width: 100%;
  max-width: 1070px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block-comment {
    margin: initial;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-comment {
    height: 163px;
    padding: 0 21px;
    margin: 0 0 25px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
}
.collect-tour-section-form .form-block-comment__textarea {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 8px auto 0;
  min-width: 798px;
  height: 132px;
  padding: 10px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  resize: none;
  background-color: #f9f7f4;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
  text-indent: 10px;
}
.collect-tour-section-form .form-block-comment__textarea:focus {
  outline: none;
  border: none;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block-comment__textarea {
    width: 100%;
    min-width: initial;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-comment__textarea {
    max-width: 100%;
    min-width: initial;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
    text-indent: 0;
  }
}
.collect-tour-section-form .form-block-comment__textarea:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}
.collect-tour-section-form .form-block-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 53px;
  height: 64px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block-radio {
    width: 100%;
    max-width: 170px;
    margin: 0 0 0 60px;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-radio {
    height: 54px;
    width: 100%;
    max-width: 100%;
    margin: 0 0 25px 0;
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
}
.collect-tour-section-form .form-block-radio-btns {
  display: flex;
  justify-content: space-between;
  max-width: 166px;
  height: 28px;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-radio-btns {
    width: 139px;
    height: 23px;
  }
}
.collect-tour-section-form .form-block-radio-btns-btn__input {
  display: none;
}
.collect-tour-section-form .form-block-radio-btns-btn__label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.collect-tour-section-form .form-block-radio-btns-btn__label::before {
  content: "";
  margin-right: 12px;
  width: 26px;
  height: 26px;
  border: 2px solid #1b1f2b;
  border-radius: 50%;
}
.collect-tour-section-form .form-block-radio-btns-btn .form-block-radio-btns-btn__input:checked + .form-block-radio-btns-btn__label::before {
  content: "●";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 2px;
}
.collect-tour-section-form .form-block-license {
  display: flex;
  width: 1030px;
  max-width: 100%;
  margin: 0 0 0 53px;
  font-weight: 400px;
  font-size: 17px;
  line-height: 24px;
  color: #a6a6a6;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block-license {
    width: 73%;
    max-width: 100%;
    margin: 0 0 0 60px;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-license {
    width: 100%;
    max-width: 100%;
    margin: 0 0 25px 0;
    min-width: 242px;
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
}
.collect-tour-section-form .form-block-license__checkbox {
  display: none;
}
.collect-tour-section-form .form-block-license__label {
  display: flex;
}
.collect-tour-section-form .form-block-license__label::before {
  content: "";
  margin-right: 19px;
  min-width: 25px;
  height: 25px;
  border: 2px solid #1b1f2b;
  border-radius: 5px;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-license__label::before {
    margin-right: 9px;
  }
}
.collect-tour-section-form .form-block-license__link {
  color: #1b1f2b;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}
.collect-tour-section-form .form-block-license__link:hover {
  border-bottom: 1px solid #1b1f2b;
  cursor: pointer;
}
.collect-tour-section-form .form-block-license__link:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-license__link:hover, .collect-tour-section-form .form-block-license__link:active {
    border: none;
    cursor: default;
    color: #1b1f2b;
  }
}
.collect-tour-section-form .form-block-license .form-block-license__checkbox:checked + .form-block-license__label::before {
  content: "✔";
  text-align: center;
  color: #1b1f2b;
  font-size: 18px;
}
.collect-tour-section-form .form-block-confirm {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  max-width: 100%;
  margin: 0 0 0 53px;
  height: 58px;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .collect-tour-section-form .form-block-confirm {
    width: 100%;
    max-width: 500px;
    margin: 0 0 0 60px;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-confirm {
    width: 280px;
    max-width: 100%;
    margin: initial;
    min-width: 280px;
    padding: 0 21px;
    height: 47px;
  }
}
.collect-tour-section-form .form-block-confirm-btns {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .collect-tour-section-form .form-block-confirm-btns {
    width: 315px;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-confirm-btns {
    gap: 10px;
  }
}
.collect-tour-section-form .form-block-confirm-btns__submit, .collect-tour-section-form .form-block-confirm-btns__reset {
  width: 235px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  background-color: #286562;
  transition: background-color 0.3s ease;
}
@media (max-width: 780px) {
  .collect-tour-section-form .form-block-confirm-btns__submit, .collect-tour-section-form .form-block-confirm-btns__reset {
    width: 154px;
  }
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-confirm-btns__submit, .collect-tour-section-form .form-block-confirm-btns__reset {
    width: 130px;
    font-size: 15px;
    line-height: 23px;
  }
}
.collect-tour-section-form .form-block-confirm-btns__submit:hover {
  background-color: #3b7e7b;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-confirm-btns__submit:hover {
    background-color: #286562;
  }
}
.collect-tour-section-form .form-block-confirm-btns__submit:active {
  background-color: #627f7e;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-confirm-btns__submit:active {
    background-color: #286562;
  }
}
.collect-tour-section-form .form-block-confirm-btns__reset {
  background-color: #e0f0e5;
  color: #286562;
}
.collect-tour-section-form .form-block-confirm-btns__reset:hover {
  background-color: #f1f3f2;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-confirm-btns__reset:hover {
    background-color: #e0f0e5;
  }
}
.collect-tour-section-form .form-block-confirm-btns__reset:active {
  background-color: #d9dfdb;
}
@media (max-width: 550px) {
  .collect-tour-section-form .form-block-confirm-btns__reset:active {
    background-color: #e0f0e5;
  }
}

.comment-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}
@media (max-width: 550px) {
  .comment-section {
    width: 100%;
    margin: 75px 0 75px 0;
  }
}
.comment-section-header {
  width: 100%;
  max-width: 529px;
}
.comment-section-reviewers {
  display: flex;
  justify-content: center;
  gap: 30px;
  min-width: 117px;
  margin-top: 100px;
  padding: 0 53px;
  color: #1b1f2b;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .comment-section-reviewers {
    gap: 18px;
  }
}
@media (max-width: 950px) {
  .comment-section-reviewers {
    display: flex;
    flex-flow: column nowrap;
  }
}
@media (max-width: 550px) {
  .comment-section-reviewers {
    align-items: center;
    width: 360px;
    margin: 50px 0 0 0;
    padding: 0 21px;
  }
}
.comment-section-reviewers .reviewer-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  border-radius: 50px;
  background-color: #f4f0e9;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .comment-section-reviewers .reviewer-card {
    max-width: 450px;
  }
}
@media (max-width: 550px) {
  .comment-section-reviewers .reviewer-card {
    align-items: center;
    max-width: 318px;
    padding: 20px;
    border-radius: 20px;
  }
}
.comment-section-reviewers .reviewer-card__text {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #1b1f2b;
  margin-bottom: 30px;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .comment-section-reviewers .reviewer-card__text {
    max-width: 673px;
  }
}
@media (max-width: 550px) {
  .comment-section-reviewers .reviewer-card__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
}
.comment-section-reviewers .reviewer-card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .comment-section-reviewers .reviewer-card-info {
    width: 355px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
}
@media (max-width: 550px) {
  .comment-section-reviewers .reviewer-card-info {
    flex-wrap: nowrap;
    width: 100%;
  }
}
.comment-section-reviewers .reviewer-card-info-reviewer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 90px;
}
.comment-section-reviewers .reviewer-card-info-reviewer__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #1b1f2b;
}
@media (max-width: 550px) {
  .comment-section-reviewers .reviewer-card-info-reviewer__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #1b1f2b;
    margin-top: 15px;
  }
}
.comment-section-reviewers .reviewer-card-info-reviewer__subtitle {
  width: initial;
  font-size: 16px;
  line-height: 24px;
  color: #a6a6a6;
}
.comment-section-reviewers .reviewer-card-info__photo {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
@media (max-width: 550px) {
  .comment-section-reviewers .reviewer-card-info__photo {
    height: 75px;
  }
}

.album-section {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  margin: 135px auto;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .album-section {
    padding: 0 20px;
  }
}
@media (max-width: 550px) {
  .album-section {
    margin: 75px auto 0;
  }
}
.album-section-header {
  margin: 0 auto;
}
@media (max-width: 550px) {
  .album-section-header {
    padding: 0 20px;
  }
}
.album-section .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 100px;
}
@media (max-width: 780px) {
  .album-section .photos {
    width: 100%;
    margin: 50px 0 0 0;
  }
}
.album-section .photos .photos__img {
  width: 25%;
  height: 300px;
  padding: 0 15px;
  border-radius: 50px;
  margin-bottom: 30px;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .album-section .photos .photos__img {
    width: 33.3%;
    padding: 0 10px;
  }
  .album-section .photos .photos__img:nth-child(2), .album-section .photos .photos__img:nth-child(7), .album-section .photos .photos__img:nth-child(13) {
    display: none;
  }
}
@media (max-width: 780px) {
  .album-section .photos .photos__img {
    height: 110px;
    width: 50%;
    padding: 0 5px;
    margin-bottom: 9px;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .album-section .photos .photos__img:nth-child(2), .album-section .photos .photos__img:nth-child(3), .album-section .photos .photos__img:nth-child(6), .album-section .photos .photos__img:nth-child(7), .album-section .photos .photos__img:nth-child(12), .album-section .photos .photos__img:nth-child(13) {
    display: none;
  }
}
.album-section .photos .photos__img:nth-child(5), .album-section .photos .photos__img:nth-child(6), .album-section .photos .photos__img:nth-child(7), .album-section .photos .photos__img:nth-child(8), .album-section .photos .photos__img:nth-child(9) {
  width: 20%;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .album-section .photos .photos__img:nth-child(5), .album-section .photos .photos__img:nth-child(6), .album-section .photos .photos__img:nth-child(7), .album-section .photos .photos__img:nth-child(8), .album-section .photos .photos__img:nth-child(9) {
    width: 25%;
    padding: 0 9px;
  }
}
@media (max-width: 780px) {
  .album-section .photos .photos__img:nth-child(5), .album-section .photos .photos__img:nth-child(6), .album-section .photos .photos__img:nth-child(7), .album-section .photos .photos__img:nth-child(8), .album-section .photos .photos__img:nth-child(9) {
    width: 33%;
    padding: 0 5px;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.story-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 53px;
}
@media (max-width: 550px) {
  .story-section {
    margin: 75px 0;
    padding: 0;
  }
}
.story-section-header {
  padding: 0 20px;
  text-align: center;
}
.story-section-cards {
  display: flex;
  gap: 50px;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 780px) {
  .story-section-cards {
    gap: 20px;
    padding: 0 20px;
  }
}
@media (max-width: 550px) {
  .story-section-cards {
    margin-top: 50px;
  }
}
.story-section-cards .card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1170px;
  height: 567px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .story-section-cards .card {
    height: 567px;
  }
}
@media (max-width: 780px) {
  .story-section-cards .card {
    min-width: 318px;
    height: 455px;
    border-radius: 20px;
  }
}
.story-section-cards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 1;
}
@media (max-width: 780px) {
  .story-section-cards .card::before {
    height: 100%;
    border-radius: 20px;
  }
}
.story-section-cards .card__img {
  position: absolute;
  border-radius: 50px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
  transform: scale(1);
}
@media (max-width: 780px) {
  .story-section-cards .card__img {
    border-radius: 20px;
  }
}
.story-section-cards .card:hover .card-btns .card-btns__btn {
  background-color: #286562;
}
@media (max-width: 550px) {
  .story-section-cards .card:hover .card-btns .card-btns__btn {
    background-color: transparent;
  }
}
.story-section-cards .card:hover .card-btns .card-btns__btn:active {
  background-color: #efa501;
}
@media (max-width: 550px) {
  .story-section-cards .card:hover .card-btns .card-btns__btn:active {
    background-color: transparent;
  }
}
.story-section-cards .card:hover .card__img {
  transform: scale(1.2);
}
.story-section-cards .card-overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 60px 60px 0 60px;
  position: absolute;
  z-index: 1;
  color: #ffffff;
}
@media (max-width: 780px) {
  .story-section-cards .card-overlay {
    min-width: 263px;
    padding: 30px 25px 0 30px;
  }
}
.story-section-cards .card-overlay__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
}
@media (max-width: 780px) {
  .story-section-cards .card-overlay__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 1px;
  }
}
.story-section-cards .card-overlay__subtitle {
  width: initial;
  max-width: 603px;
  margin: 37px 0 0 0;
  padding-right: 50px;
  min-width: 296px;
  height: initial;
  text-align: initial;
  color: #ffffff;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .story-section-cards .card-overlay__subtitle {
    margin: 37px 0 0 0;
  }
}
@media (max-width: 780px) {
  .story-section-cards .card-overlay__subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
}
.story-section-cards .card-overlay-list {
  display: flex;
  flex-flow: column;
  margin-left: 12px;
  margin-top: 27px;
}
@media (max-width: 780px) {
  .story-section-cards .card-overlay-list {
    margin: 27px 0 0 -7px;
  }
}
.story-section-cards .card-overlay-list__item {
  list-style-type: none;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 780px) {
  .story-section-cards .card-overlay-list__item {
    margin-left: 8px;
    list-style-type: none;
    font-size: 16px;
    line-height: 23px;
  }
}
.story-section-cards .card-overlay-list__item::before {
  content: "·";
  padding-right: 13px;
  font-size: 21px;
}
@media (max-width: 780px) {
  .story-section-cards .card-overlay-list__item::before {
    padding-right: 10px;
  }
}
.story-section-cards .card-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 0 60px 0 40px;
  z-index: 1;
}
@media (max-width: 780px) {
  .story-section-cards .card-btns {
    bottom: 30px;
    padding: 0 30px 0 20px;
  }
}
.story-section-cards .card-btns__btn {
  display: flex;
  align-items: center;
  width: 199px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
}
@media (max-width: 780px) {
  .story-section-cards .card-btns__btn {
    width: 135px;
  }
}
.story-section-cards .card-btns__btn-text {
  padding: 7px 15px 7px 17px;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}
@media (max-width: 780px) {
  .story-section-cards .card-btns__btn-text {
    display: flex;
    align-items: center;
    margin-right: 6px;
    padding: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
}
.story-section-cards .card-btns__btn-img {
  max-width: 22px;
  height: 15px;
}
.story-section-cards .card-btns .overlay-contacts {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 780px) {
  .story-section-cards .card-btns .overlay-contacts {
    display: none;
  }
}
.story-section-cards .card-btns .overlay-contacts__link {
  padding-left: 27px;
  text-decoration: none;
  color: #ffffff;
}
.story-section-cards .card-btns .overlay-contacts__name {
  transition: color 0.3s ease;
}
.story-section-cards .card-btns .overlay-contacts__name:hover {
  border-bottom: 1px solid #ffffff;
}
.story-section-cards .card-btns .overlay-contacts__name:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}

.invite-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 880px) {
  .invite-section {
    width: 100%;
    flex-flow: column nowrap;
  }
}
.invite-section__img {
  width: 370px;
  margin: 0 20px 0 0;
  border-radius: 50px;
}
@media (max-width: 880px) {
  .invite-section__img {
    width: 200px;
    border-radius: 20px;
  }
}
@media (max-width: 550px) {
  .invite-section__img {
    width: 130px;
    margin: 0;
    height: 133px;
  }
}
.invite-section-header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 371px;
  height: 169px;
}
.invite-section-header__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #1b1f2b;
}
@media (max-width: 880px) {
  .invite-section-header__title {
    width: 291px;
    margin: 25px 0 0 0;
    font-weight: 700;
    font-size: 29px;
    line-height: 28px;
    color: #1b1f2b;
    text-align: center;
  }
}
.invite-section-header__subtitle {
  width: 371px;
  margin: 0;
  margin-bottom: 0;
  padding-right: 0;
  text-align: initial;
}
@media (max-width: 880px) {
  .invite-section-header__subtitle {
    margin: 25px 0 0 0;
    text-align: center;
  }
}
.invite-section-header__link {
  text-decoration: none;
  color: #1b1f2b;
  transition: 0.3s ease;
}
@media (max-width: 880px) {
  .invite-section-header__link {
    text-decoration: none;
  }
}
.invite-section-header__link:hover {
  border-bottom: 1px solid #1b1f2b;
  cursor: pointer;
}
@media (max-width: 880px) {
  .invite-section-header__link:hover {
    border-bottom: none;
    color: #1b1f2b;
  }
}
.invite-section-header__link:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}
@media (max-width: 880px) {
  .invite-section-header__link:active {
    border-bottom: none;
    color: #1b1f2b;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 135px auto 0;
  height: 88px;
  background-color: #f4f0e9;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 550px) {
  .footer {
    height: 95px;
    font-size: 16px;
    line-height: 23px;
    padding: 0;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1168px;
  padding: 0 53px;
}
@media (max-width: 780px) {
  .footer-content {
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 88px;
  }
}
@media (max-width: 550px) {
  .footer-content {
    height: 53px;
    justify-content: space-between;
    padding: 0;
  }
}
.footer-content__subtitle {
  color: #a6a6a6;
}
@media (max-width: 780px) {
  .footer-content__subtitle {
    text-align: center;
  }
}
.footer-content .footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}
@media (max-width: 780px) {
  .footer-content .footer-contacts {
    width: 420px;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .footer-content .footer-contacts {
    width: 320px;
    height: 23px;
  }
}
.footer-content .footer-contacts__link {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #1b1f2b;
}
@media (max-width: 780px) {
  .footer-content .footer-contacts__link {
    cursor: default;
  }
}
.footer-content .footer-contacts__link-img {
  width: 38px;
  margin: 0 12px 0 0;
  height: 26px;
}
@media (max-width: 550px) {
  .footer-content .footer-contacts__link-img {
    width: 20px;
    height: 20px;
  }
}
.footer-content .footer-contacts__link-name {
  transition: color 0.3s ease;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
.footer-content .footer-contacts__link-name:hover {
  border-bottom: 1px solid #1b1f2b;
}
@media (min-width: 551px) and (max-width: 1024px) {
  .footer-content .footer-contacts__link-name:hover {
    border-bottom: 1px solid transparent;
  }
}
@media (max-width: 780px) {
  .footer-content .footer-contacts__link-name:hover {
    border-bottom: 1px solid transparent;
    cursor: default;
    color: #1b1f2b;
  }
}
.footer-content .footer-contacts__link-name:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}
@media (max-width: 780px) {
  .footer-content .footer-contacts__link-name:active {
    border-bottom: 1px solid transparent;
    cursor: default;
    color: #1b1f2b;
  }
}
@media (max-width: 780px) {
  .footer-content .footer-contacts__link-name:active {
    transition: 0.3s ease;
  }
}/*# sourceMappingURL=main.css.map */