@charset "UTF-8";
@import "./blocks/basic/reset.css";
* {
  font-family: Roboto, sans-serif;
}

html,
body {
  min-width: 359px;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f9f7f4;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-width: 360px;
}

html {
  scroll-behavior: smooth;
}

.case_size {
  width: 100%;
  max-width: 1170px;
  margin: 135px auto 0;
  min-width: 360px;
}

.name_title {
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  color: #1b1f2b;
}

.item_title {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #1b1f2b;
}

.description {
  width: 418px;
  height: 56px;
  margin: 30px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a6a6a6;
}

@media (max-width: 760px) {
  .case_size,
  footer {
    width: 100%;
    max-width: 760px;
    margin: 75px auto 0;
    min-width: 360px;
  }
  .name_title {
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #1b1f2b;
  }
  .item_title {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #1b1f2b;
  }
  .description {
    width: 318px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
}
.scrolled_container_nav_bar .container_nav_bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(54px);
          backdrop-filter: blur(54px);
}
.scrolled_container_nav_bar .container_nav_bar .nav_bar .menu .menu_item:hover {
  border-bottom: 1px solid #1b1f2b;
}
.scrolled_container_nav_bar .container_nav_bar .nav_bar .menu .menu_item .menu_item_link {
  color: #1b1f2b;
}
.scrolled_container_nav_bar .container_nav_bar .nav_bar .menu_tel {
  color: #1b1f2b;
}

header {
  height: 831px;
  background: url(../img/header/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  height: 831px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
header .container_nav_bar {
  position: absolute;
  right: 0;
  left: 0;
  min-width: 360px;
  height: 88px;
  z-index: 2;
}
header .container_nav_bar .nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  min-width: 360px;
  padding-top: 29px;
}
header .container_nav_bar .nav_bar .menu_tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
header .container_nav_bar .nav_bar .menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 468px;
  height: 28px;
}
header .container_nav_bar .nav_bar .menu .menu_item {
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}
header .container_nav_bar .nav_bar .menu .menu_item:hover {
  border-bottom: 1px solid #ffffff;
}
header .container_nav_bar .nav_bar .menu .menu_item .menu_item_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
header .block_header_preview {
  position: absolute;
  text-align: center;
  width: 100%;
  min-width: 360px;
}
header .block_header_preview .name_header {
  width: 100%;
  max-width: 768px;
  margin: 207px auto 0;
  min-width: 360px;
  font-weight: 700;
  font-size: 96px;
  line-height: 105px;
  color: #ffffff;
  letter-spacing: 2px;
}
header .description {
  width: 100%;
  max-width: 562px;
  margin: 50px auto 0;
  min-width: 360px;
  color: #ffffff;
}
header .find_tour_btn {
  margin-top: 50px;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #1b1f2b;
  cursor: pointer;
}
header .find_tour_btn .find_tour_btn_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 34px;
  border-radius: 10px;
  text-decoration: none;
  color: #1b1f2b;
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}
header .find_tour_btn .find_tour_btn_text:hover {
  background-color: #efa501;
  color: #ffffff;
}
header .find_tour_btn .find_tour_btn_text:active {
  background-color: #f8e6be;
  color: #1b1f2b;
}

@media (min-width: 761px) and (max-width: 1280px) {
  header .container_nav_bar .nav_bar {
    padding: 29px 53px 0;
  }
  header .container_nav_bar .nav_bar .menu {
    max-width: 408px;
  }
}
@media (min-width: 761px) and (max-width: 1280px) and (min-width: 761px) and (max-width: 920px) {
  header .container_nav_bar .nav_bar .menu {
    display: none;
  }
}
@media (min-width: 761px) and (max-width: 1280px) {
  header .block_header_preview .description {
    width: 442px;
  }
}
@media (max-width: 760px) {
  header {
    height: 488px;
  }
  header::before {
    bottom: 0;
    min-width: 360px;
    height: 488px;
  }
  header .container_nav_bar .nav_bar {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    min-width: 320px;
    padding: 29px 20px 0;
  }
  header .container_nav_bar .nav_bar #logo_img {
    width: 133px;
  }
  header .container_nav_bar .nav_bar .menu {
    display: none;
  }
  header .container_nav_bar .nav_bar .menu_tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
  header .block_header_preview .name_header {
    width: 360px;
    max-width: 100%;
    margin: 140px auto 0;
    min-width: 360px;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #ffffff;
  }
  header .block_header_preview .description {
    width: 315px;
    max-width: 100%;
    margin: 41px auto 0;
    min-width: 315px;
  }
  header .block_header_preview .find_tour_btn {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
  header .block_header_preview .find_tour_btn .find_tour_btn_text {
    width: 114px;
  }
  header .block_header_preview .find_tour_btn .find_tour_btn_text:hover {
    background-color: inherit;
    color: #1b1f2b;
  }
  header .block_header_preview .find_tour_btn .find_tour_btn_text:active {
    background-color: inherit;
  }
}
.container_take_your_tour {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.title_take_your_tour {
  width: 700px;
  height: 150px;
  text-align: center;
}

.your_tour_variants {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  height: 28px;
  list-style-type: none;
}

.variant_link {
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #1b1f2b;
  cursor: pointer;
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

.variant_link.active {
  color: #efa501;
  border-bottom: 2px solid #efa501;
}

.variant_link:hover {
  border-bottom: 2px solid #efa501;
  color: #efa501;
}

.block_tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 90px;
  min-width: 1170px;
}

.card_tour {
  position: relative;
  width: 31%;
  max-height: 531px;
  overflow: hidden;
  border-radius: 50px;
}

.card_tour::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}

.card_tour_img {
  width: 100%;
  height: 531px;
  border-radius: 50px;
  transition: 300ms ease;
  transform: scale(1);
  -o-object-fit: cover;
     object-fit: cover;
}

.card_tour:hover .card_tour_img {
  transition: 300ms ease;
  transform: scale(1.2);
}

.overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 50px;
  left: 50px;
  height: 445px;
  max-width: 240px;
  color: #ffffff;
  z-index: 1;
}

.overlay .card_tour_title {
  color: #ffffff;
}

.overlay .price {
  margin-top: 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}

.about_tour_btn {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 199px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

.card_tour:hover .about_tour_btn {
  background-color: #286562;
}

.card_tour:hover .about_tour_btn:active {
  background-color: #efa501;
}

.about_tour_btn .more {
  max-width: 199px;
  padding: 7px 16px 7px 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}

@media (min-width: 761px) and (max-width: 1280px) {
  .case_size,
  footer {
    width: 100%;
    max-width: 1280px;
    margin: 135px auto 0;
    min-width: 360px;
  }
  .container_take_your_tour {
    padding: 0 53px;
  }
  .block_tours {
    gap: 18px;
    min-width: initial;
  }
  .card_tour {
    width: 48%;
  }
  .card_tour_img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .overlay {
    right: 50px;
    max-width: 100%;
  }
}
@media (max-width: 760px) {
  .title_take_your_tour {
    width: 100%;
    min-width: 360px;
  }
  .your_tour_variants {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 760px;
    margin: 30px auto 0;
    min-width: 360px;
    padding: 0 20px;
  }
  .variant_link {
    padding: 7px 0 0;
    margin-right: 12px;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #1b1f2b;
  }
  .block_tours {
    width: 100%;
    max-width: 100%;
    margin: 25px auto 0;
    min-width: 360px;
    min-width: 360px;
    gap: 18px;
    padding: 0 21px;
  }
  .card_tour {
    border-radius: 20px;
    width: 48%;
    height: 318px;
  }
  .card_tour_img {
    height: 100%;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card_tour::before {
    width: 100%;
    border-radius: 20px;
  }
}
@media (max-width: 760px) and (max-width: 658px) {
  .your_tour_variants {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 0;
    min-width: 360px;
    min-width: 360px;
    height: 56px;
  }
  .block_tours {
    max-width: 420px;
    flex-flow: column nowrap;
  }
  .card_tour {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .overlay {
    display: flex;
    top: 27px;
    left: 25px;
    right: 24px;
    height: initial;
    max-width: 100%;
  }
  .overlay .card_tour_title {
    letter-spacing: 1px;
  }
  .about_tour_btn {
    top: 240px;
    left: 0;
  }
  .card_tour:hover .about_tour_btn {
    background-color: transparent;
  }
  .card_tour:hover .about_tour_btn:active {
    background-color: transparent;
  }
  .about_tour_btn .more {
    display: flex;
    align-items: center;
    width: initial;
    padding: 0 16px 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
}
.container_collect_your_tour {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.title_collect_your_tour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 159px;
}
.title_collect_your_tour .description {
  width: 418px;
  height: 56px;
  margin: 30px 0 0 0;
  text-align: center;
}

.form_collect_your_tour {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 100%;
  margin: 100px auto 0;
  min-width: 360px;
  min-width: 1170px;
  height: 986px;
  border-radius: 50px;
  background-color: #ffffff;
}

.form_block {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  padding: 0 53px;
  height: 104px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
}

#direction:valid {
  color: #1b1f2b;
}

#direction,
.form_input {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 8px auto 0;
  min-width: 360px;
  min-width: 500px;
  height: 68px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f9f7f4;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
  text-indent: 20px;
}

#direction {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../../img/main/icons/ic-dropdown.svg) no-repeat right;
  background-color: #f9f7f4;
  background-position-x: calc(100% - 20px);
  color: #a6a6a6;
}

#from-date,
#to-date {
  color: #1b1f2b;
  text-indent: 10px;
}

#from-date:invalid,
#to-date:invalid {
  text-transform: uppercase;
  color: #a6a6a6;
}

.form_input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form_input:focus,
#direction:focus,
#comment:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}

.form_input::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a6a6a6;
  text-indent: 20px;
}

.form_input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a6a6a6;
  text-indent: 20px;
}

.form_block_comment {
  padding: 0 53px;
  height: 190px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a6a6a6;
}

#comment {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 8px auto 0;
  min-width: 360px;
  min-width: 1030px;
  height: 132px;
  padding: 10px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  resize: none;
  background-color: #f9f7f4;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
  text-indent: 10px;
}

.form_block_radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
  height: 64px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #1b1f2b;
}

.radio_btns {
  display: flex;
  justify-content: space-between;
  max-width: 166px;
  height: 28px;
}

.radio_label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#age_yes,
#age_no {
  display: none;
}

.radio_label::before {
  content: "";
  margin-right: 12px;
  width: 26px;
  height: 26px;
  border: 2px solid #1b1f2b;
  border-radius: 50%;
}

#age_yes:checked + .radio_label::before,
#age_no:checked + .radio_label::before {
  content: "⬤";
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_block_license {
  display: flex;
  width: 1030px;
  max-width: 100%;
  margin: 0 0 0 70px;
  min-width: 360px;
  font-weight: 400px;
  font-size: 17px;
  line-height: 24px;
  color: #a6a6a6;
}

.license_link {
  color: #1b1f2b;
  text-decoration: none;
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

#license_checkbox {
  display: none;
}

.license_label::before {
  content: "";
  margin-right: 19px;
  min-width: 25px;
  height: 25px;
  border: 2px solid #1b1f2b;
  border-radius: 5px;
}

#license_checkbox:checked + .license_label::before {
  content: "✔";
  text-align: center;
  color: #1b1f2b;
  font-size: 18px;
}

.license_label {
  display: flex;
}

.license_link:hover {
  border-bottom: 1px solid #1b1f2b;
  cursor: pointer;
}

.license_link:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}

.form_block_btns {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  max-width: 100%;
  margin: 0 0 0 70px;
  min-width: 360px;
  height: 58px;
}

.block_btns {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.find-tour-btn,
.reset-btn {
  width: 235px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  background-color: #286562;
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

.reset-btn {
  background-color: #e0f0e5;
  color: #286562;
}

.find-tour-btn:hover {
  background-color: #3b7e7b;
}

.find-tour-btn:active {
  background-color: #627f7e;
}

.reset-btn:hover {
  background-color: #f1f3f2;
}

.reset-btn:active {
  background-color: #d9dfdb;
}

@media (min-width: 761px) and (max-width: 1280px) {
  .container_collect_your_tour {
    padding: 0 53px;
  }
  .form_collect_your_tour {
    width: 100%;
    min-width: initial;
  }
  .form_block {
    margin: initial;
    padding: 0 60px;
    gap: 20px;
    width: 100%;
  }
  .form_block label {
    width: 49%;
  }
  #direction,
  .form_input {
    max-width: 100%;
    min-width: initial;
  }
  .form_block_comment {
    margin: initial;
    width: 100%;
  }
  #comment {
    width: 100%;
    min-width: initial;
  }
  .form_block_radio {
    width: 100%;
    max-width: 170px;
    margin: 0 0 0 60px;
    min-width: 360px;
  }
  .form_block_license {
    width: 81%;
    max-width: 100%;
    margin: 0 0 0 60px;
    min-width: 360px;
  }
  .form_block_btns {
    width: 100%;
    max-width: 500px;
    margin: 0 0 0 60px;
    min-width: 360px;
  }
}
@media (max-width: 760px) {
  .container_collect_your_tour {
    padding: 0 21px;
  }
  .title_collect_your_tour {
    width: 327px;
    height: 104px;
    text-align: center;
  }
  .title_collect_your_tour .description {
    width: 318px;
    height: 46px;
    margin-top: 0;
  }
  .form_collect_your_tour {
    flex-flow: column nowrap;
    justify-content: initial;
    width: 100%;
    max-width: 100%;
    margin: 40px auto 0;
    min-width: 360px;
    height: 100%;
    min-width: initial;
    padding: 40px 0;
    gap: 5px;
    border-radius: 30px;
  }
  .form_block {
    justify-content: initial;
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
    gap: 8px;
    min-width: initial;
  }
  .form_block label {
    width: 49%;
  }
  #direction,
  .form_input {
    width: 100%;
    max-width: 100%;
    margin: 8px auto 28px;
    min-width: 360px;
    min-width: initial;
    height: 43px;
    cursor: default;
    text-indent: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
  #direction {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
  #from-date,
  #to-date {
    text-indent: 5px;
  }
  .form_input:focus,
  #direction:focus,
  #comment:focus {
    outline: none;
    border: none;
  }
  .form_input::-moz-placeholder {
    text-indent: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
  .form_input::placeholder {
    text-indent: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
  .form_block_comment {
    height: 163px;
    padding: 0 21px;
    margin: 0 0 25px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
  #comment {
    max-width: 100%;
    min-width: initial;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
    text-indent: 0;
  }
  .form_block_radio {
    height: 54px;
    width: 100%;
    max-width: 100%;
    margin: 0 0 25px 0;
    min-width: 360px;
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1b1f2b;
  }
  .radio_btns {
    width: 139px;
    height: 23px;
  }
  #age_yes,
  #age_no {
    width: 20px;
    height: 20px;
  }
  .form_block_license {
    width: 100%;
    max-width: 100%;
    margin: 0 0 25px 0;
    min-width: 242px;
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #a6a6a6;
  }
  #license_checkbox {
    width: 20px;
    height: 20px;
  }
  .license_label:before {
    margin-right: 9px;
  }
  .license_link:hover,
  .license_link:active {
    border: none;
    cursor: default;
    color: #1b1f2b;
  }
  .find-tour-btn:hover,
  .find-tour-btn:active {
    background-color: #286562;
  }
  .reset-btn:hover,
  .reset-btn:active {
    background-color: #e0f0e5;
  }
  .form_block_btns {
    width: 280px;
    max-width: 100%;
    margin: initial;
    min-width: 280px;
    padding: 0 21px;
    height: 47px;
  }
  .block_btns {
    gap: 10px;
  }
  .find-tour-btn,
  .reset-btn {
    width: 130px;
    font-size: 15px;
    line-height: 23px;
  }
}
@media (max-width: 760px) and (max-width: 658px) {
  .form_collect_your_tour {
    padding: 20px 0 40px;
  }
  .form_block {
    height: 100%;
  }
  .form_block label {
    width: 100%;
  }
  #direction,
  .form_input {
    width: 100%;
  }
  #direction {
    background-position-x: calc(100% - 10px);
  }
}
.container_reviewer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.title_reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 529px;
  height: 232px;
  text-align: center;
}

.title_reviewer .description {
  max-width: 418px;
  height: 56px;
}

.block_reviewer {
  display: flex;
  justify-content: center;
  gap: 30px;
  min-width: 117px;
  margin-top: 100px;
  color: #1b1f2b;
}

.card_reviewer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  border-radius: 50px;
  background-color: #f4f0e9;
}

.reviewer_text {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  margin-bottom: 30px;
}

.reviewer_data {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.reviewer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 75px;
}

.tour_name {
  font-size: 16px;
  line-height: 24px;
  color: #a6a6a6;
}

.reviewer_photo {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

@media (min-width: 761px) and (max-width: 1280px) {
  .block_reviewer {
    gap: 18px;
    padding: 0 53px;
  }
}
@media (min-width: 761px) and (max-width: 1280px) and (max-width: 947px) {
  .block_reviewer {
    display: flex;
    flex-flow: column nowrap;
  }
  .card_reviewer {
    max-width: 450px;
  }
  .reviewer_text {
    max-width: 673px;
  }
  .reviewer_data {
    width: 355px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
}
@media (max-width: 760px) {
  .container_reviewer {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .title_reviewer {
    height: 152px;
  }
  .title_reviewer .description {
    width: 318px;
    font-size: 16px;
    line-height: 23px;
  }
  .block_reviewer {
    flex-flow: column nowrap;
    align-items: center;
    gap: 18px;
    margin-top: 50px;
    padding: 0 21px;
    width: 100%;
  }
  .card_reviewer {
    align-items: center;
    max-width: 318px;
    padding: 20px;
    border-radius: 20px;
  }
  .reviewer_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
  }
  .reviewer_data {
    flex-wrap: nowrap;
    width: 278px;
    height: 75px;
  }
  .reviewer_name {
    margin-top: 15px;
  }
  .reviewer_photo {
    height: 75px;
  }
}
.container_travel_photos {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  margin: 135px auto 0;
}

.title_travel_photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  text-align: center;
  margin: 0 auto;
}

.title_travel_photos .description {
  width: 418px;
  height: 56px;
}

.block_travel_photos {
  display: flex;
  flex-flow: column wrap;
  margin-top: 100px;
  gap: 30px;
}

.four_travel_photos,
.five_travel_photos {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 301px;
  padding: 0 15px;
}

.four_travel_photos img {
  width: 25%;
  padding: 0 15px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.five_travel_photos img {
  width: 20%;
  padding: 0 15px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 761px) and (max-width: 1280px) {
  .block_travel_photos {
    padding: 0 20px;
  }
  .four_travel_photos,
  .five_travel_photos {
    justify-content: space-between;
    padding: 0;
  }
  .four_travel_photos img {
    width: 32%;
    padding: 0;
  }
  .five_travel_photos img {
    width: 23%;
    padding: 0;
  }
  .four_travel_photos:nth-child(1) img:nth-child(2),
  .five_travel_photos img:nth-child(3),
  .four_travel_photos:nth-child(3) img:nth-child(4) {
    display: none;
  }
}
@media (max-width: 760px) {
  .container_travel_photos {
    margin: 75px auto 0;
  }
  .title_travel_photos {
    height: 142px;
  }
  .name_title_travel_photos {
    width: 318px;
  }
  .title_travel_photos .description {
    width: 318px;
    height: 46px;
  }
  .block_travel_photos {
    margin-top: 50px;
    width: 100%;
    gap: 20px;
  }
  .four_travel_photos,
  .five_travel_photos {
    justify-content: space-between;
    gap: 10px;
    height: 110px;
    padding: 0 20px;
  }
  .four_travel_photos {
    gap: 20px;
  }
  .four_travel_photos img {
    width: calc(50% - 10px);
    border-radius: 20px;
    padding: 0;
  }
  .five_travel_photos img {
    width: calc(33.3% - 10px);
    border-radius: 20px;
    padding: 0;
  }
  .four_travel_photos:nth-child(1) img:nth-child(2),
  .four_travel_photos:nth-child(1) img:nth-child(3),
  .five_travel_photos img:nth-child(2),
  .five_travel_photos img:nth-child(3),
  .four_travel_photos:nth-child(3) img:nth-child(4) {
    display: none;
  }
}
.container_travel_stories {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title_travel_stories {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 159px;
  text-align: center;
}

.title_travel_stories .description {
  max-width: 418px;
  margin-top: 30px;
}

.block_travel_stories_cards {
  display: flex;
  gap: 50px;
  flex-flow: column wrap;
  margin-top: 100px;
}

.travel_stories_card {
  position: relative;
  height: 567px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
}

.travel_stories_card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 1;
}

.travel_stories_card_img {
  border-radius: 50px;
  transition: 300ms ease;
  transform: scale(1);
}

.travel_stories_card:hover .travel_stories_card_img {
  transition: 300ms ease;
  transform: scale(1.2);
}

.travel_stories_overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1;
  color: #ffffff;
}

.name_travel_stories {
  color: #ffffff;
}

.travel_stories_overlay .description {
  width: initial;
  margin-top: 37px;
  padding-right: 50px;
  max-width: 603px;
  min-width: 290px;
  height: initial;
  text-align: initial;
  color: #ffffff;
}

.reasons_list {
  display: flex;
  flex-flow: column;
  margin-left: 12px;
  margin-top: 27px;
}

.reason {
  list-style-type: none;
  font-size: 20px;
  line-height: 28px;
}

.reason::before {
  content: "·";
  padding-right: 13px;
  font-size: 21px;
}

.travel_stories_overlay_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 412px;
  margin-left: -20px;
  width: 1070px;
}

.about_travel_story_btn {
  height: 42px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

.about_travel_story_btn .more {
  max-width: 199px;
  padding: 7px 16px 7px 20px;
  margin-top: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}

.about_travel_story_btn .more img {
  max-width: 22px;
  height: 15px;
  margin-left: 15px;
}

.travel_stories_card:hover .about_travel_story_btn {
  background-color: #286562;
}

.travel_stories_card .about_travel_story_btn:active {
  background-color: #efa501;
}

.contacts {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  line-height: 28px;
}

.contact_link {
  padding-left: 27px;
  text-decoration: none;
  color: #ffffff;
}

.contant_name {
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

.contant_name:hover {
  border-bottom: 1px solid #ffffff;
}

.contant_name:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}

@media (min-width: 761px) and (max-width: 1280px) {
  .container_travel_stories {
    padding: 0 60px;
  }
  .travel_stories_card {
    height: 567px;
  }
  .travel_stories_card_img {
    width: 100%;
    height: 567px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .travel_stories_overlay {
    width: 90%;
  }
  .travel_stories_overlay_btns {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .container_travel_stories {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .title_travel_stories {
    width: 360px;
    height: 142px;
  }
  .title_travel_stories .description {
    width: 319px;
    height: 46px;
  }
  .block_travel_stories_cards {
    gap: 20px;
    padding: 0 20px;
    margin-top: 50px;
  }
  .travel_stories_card {
    height: 455px;
    border-radius: 20px;
  }
  .travel_stories_card::before {
    height: 455px;
    border-radius: 20px;
  }
  .travel_stories_card_img {
    height: 455px;
    max-width: 100%;
    border-radius: 20px;
  }
  .travel_stories_overlay {
    top: 30px;
    left: 30px;
    min-width: 263px;
    max-width: 464px;
  }
  .name_travel_stories {
    max-width: 86%;
    letter-spacing: 1px;
  }
  .travel_stories_overlay .description {
    margin-top: 20px;
    padding-right: 20px;
  }
  .reasons_list {
    margin-left: 0;
  }
  .reason {
    margin-left: 8px;
    list-style-type: none;
    font-size: 16px;
    line-height: 23px;
  }
  .reason::before {
    padding-right: 10px;
  }
  .travel_stories_overlay_btns {
    margin-top: 370px;
    width: 128px;
    height: 26px;
    margin-left: 0;
  }
  .about_travel_story_btn {
    height: 26px;
  }
  .about_travel_story_btn .more {
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
  }
  .travel_stories_card:hover .about_travel_story_btn,
  .about_travel_story_btn:active {
    background: none;
  }
  .contacts {
    display: none;
  }
}
.block_travel_with_us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel_with_us_img {
  max-width: 370px;
  margin-right: 20px;
  border-radius: 50px;
}

.title_travel_with_us {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 371px;
  min-height: 162px;
}

.title_travel_with_us .description {
  width: 371px;
  margin-top: 0;
  padding-right: 0;
  text-align: initial;
}

.email {
  text-decoration: none;
  color: #1b1f2b;
  transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

.email:hover {
  border-bottom: 1px solid #1b1f2b;
  cursor: pointer;
}

.email:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}

@media (min-width: 761px) and (max-width: 1280px) {
  .container_travel_with_us {
    width: initial;
  }
  .block_travel_with_us {
    width: 100%;
    height: 370px;
  }
  .travel_with_us_img {
    width: 50%;
  }
}
@media (min-width: 761px) and (max-width: 1280px) and (max-width: 920px) {
  .title_travel_with_us .description {
    text-align: center;
  }
  .block_travel_with_us {
    flex-flow: column nowrap;
  }
  .travel_with_us_img {
    width: 200px;
    border-radius: 20px;
    margin-right: 0;
  }
  .title_travel_with_us {
    margin-top: 25px;
    text-align: center;
  }
}
@media (max-width: 760px) {
  .container_travel_with_us {
    padding: 0;
  }
  .title_travel_with_us .description {
    text-align: center;
  }
  .block_travel_with_us {
    width: 100%;
    flex-flow: column nowrap;
  }
  .travel_with_us_img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
    margin-right: 0;
  }
  .title_travel_with_us {
    margin-top: 25px;
    width: 291px;
    min-height: 128px;
    text-align: center;
  }
  .title_travel_with_us .description {
    width: 291px;
  }
  .email {
    text-decoration: none;
  }
  .email:hover,
  .email:active {
    border: none;
    color: #1b1f2b;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 135px auto 0;
  height: 88px;
  background-color: #f4f0e9;
  font-size: 20px;
  line-height: 28px;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  width: 61%;
}

.our_socials {
  color: #a6a6a6;
}

.contacts_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
  height: 28px;
}

.social_link {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #1b1f2b;
}

.social_link .contant_name:hover {
  border-bottom: 1px solid #1b1f2b;
}

.social_link .contant_name:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}

.social_link img {
  width: 38px;
  height: 26px;
  margin-right: 12px;
}

@media (min-width: 761px) and (max-width: 1280px) {
  .container_footer {
    width: 100%;
    padding: 0 53px;
  }
  .social_link .contant_name:hover {
    border: none;
  }
}
@media (max-width: 760px) {
  footer {
    margin-top: 75px;
    height: 95px;
    font-size: 16px;
    line-height: 23px;
  }
  .container_footer {
    flex-flow: column wrap;
    min-width: 360px;
    height: 53px;
  }
  .our_socials {
    text-align: center;
  }
  .contacts_footer {
    min-width: 314px;
    width: 100%;
    height: 23px;
    padding: 0 21px;
  }
  .social_link img {
    width: 20px;
    height: 20px;
  }
  .social_link .contant_name:hover,
  .social_link .contant_name:active {
    border: none;
    cursor: default;
    color: #1b1f2b;
  }
  .contant_name {
    transition: 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
  }
}/*# sourceMappingURL=main.css.map */