/*************************************** !!!   START   !!! ************************************/
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
  max-width: 1920px;
  height: 9100px;
  overflow: hidden;
  background-color: #f9f7f4;
  margin: 0 auto;
}
/* begin 1920px *******************************************************************************/
/* basic containers styles */
.container_take_your_tour,
.container_collect_your_tour,
.container_reviewer,
.container_travel_stories {
  max-width: 1170px;
}
/* basic h2 styles */
.title_take_your_tour h2,
.title_collect_your_tour h2,
.title_reviewer h2,
.title_travel_photos h2,
.title_travel_stories h2 {
  font: 700 59px/73.16px Roboto, sans-serif;
  color: #1b1f2b;
}
/* basic h3 styles */
.overlay h3,
.reviewer_name h3,
.travel_stories_overlay h3,
.title_travel_with_us h3 {
  font: 500 35px/42.7px Roboto, sans-serif;
  color: #1b1f2b;
}
/* basic p styles */
.block_header_preview p,
.title_collect_your_tour p,
.title_reviewer p,
.title_travel_photos p,
.title_travel_stories p,
.travel_stories_overlay p,
.title_travel_with_us p {
  font: 400 20px/28.4px Roboto, sans-serif;
  color: #a6a6a6;
}
/* begin 1920px header navbar  ****************************************************************/
header {
  position: relative;
  max-width: 100%;
  height: 831px;
  background: url(./img1920/header/header-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container_nav_bar {
  right: 0;
  max-width: 100vw;
  height: 88px;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 28.88px;
  max-width: 1168px;
  height: 30.24px;
  margin: 0 auto;
}
.logo a img {
  width: 181.84px;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 468px;
}
.menu_item,
.menu_tel {
  text-decoration: none;
  font: 400 20px/28.4px Roboto, sans-serif;
  color: white;
}
.menu_item:hover {
  border-bottom: 1px solid white;
}
.phone {
  width: 155px;
  height: 28px;
}
/***************************** ↓↓↓ Used by Javascript ↓↓↓ *************************************/
.scrolled_container_nav_bar {
  position: fixed;
  z-index: 100;
  left: 0;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f3efe899;
  backdrop-filter: blur(54px);
}
.scrolled_nav_bar_menu:hover {
  border-bottom: 1px solid black;
  color: black;
}
.scrolled_nav_bar_menu,
.scrolled_nav_bar_tel {
  color: black;
}
/***************************** ↑↑↑ Used by Javascript ↑↑↑ *************************************/
/* end 1920px header navbar *******************************************************************/
/* begin 1920px block_header_preview  *********************************************************/
.block_header_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 88px;
  height: 743px;
  width: 100%;
  max-width: 1920px;
}
.block_header_preview h1 {
  display: flex;
  position: absolute;
  top: 119px;
  width: 768px;
  height: 315px;
  font: 700 96px/104.64px Roboto, sans-serif;
  letter-spacing: 2px;
  color: white;
}
.block_header_preview p {
  position: absolute;
  top: 484px;
  width: 562px;
  height: 56px;
  color: white;
}
.find_tour_btn {
  position: absolute;
  top: 590px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  font: 400 17px/24.14px Roboto, sans-serif;
  letter-spacing: 2px;
  letter-spacing: -0.3px;
  color: #1b1f2b;
}
.find_tour_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 34px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.find_tour_btn a:hover {
  background-color: #efa501;
  color: white;
}
.find_tour_btn a:active {
  background-color: #f8e6be;
  color: black;
}
/* end 1920px block_header_preview  ***********************************************************/
main {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
}
/* begin 1920px container_take_your_tour  *****************************************************/
.container_take_your_tour {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  top: 135px;
  height: 1334px;
  margin: 0 auto;
}
.title_take_your_tour {
  position: absolute;
  width: 700px;
  height: 130px;
  text-align: center;
}
.title_take_your_tour h2 {
  height: 73px;
}
.your_tour_variants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 35px;
  height: 28px;
}
.your_tour_variants a {
  padding: 6px 0;
  text-decoration: none;
  border: 2px solid transparent;
  font: 700 23px/28.06px Roboto, sans-serif;
  color: black;
  cursor: pointer;
}
.your_tour_variants a.active {
  color: #efa501;
  border-bottom: 2px solid #efa501;
}
.your_tour_variants a:hover {
  border-bottom: 2px solid black;
  color: black;
}
.block_tours {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  top: 242px;
  height: 1092px;
}
.card_tour {
  position: relative;
  width: calc(33.33% - 20px);
}
.card_tour .bg_gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.card_tour_img_1,
.card_tour_img_2,
.card_tour_img_3,
.card_tour_img_4,
.card_tour_img_5,
.card_tour_img_6 {
  width: 370px;
  height: 531px;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
}
.card_tour_img_1 {
  background-image: url(./img1920/main/take_your_tour/card\ tour\ photo-1.jpg);
}
.card_tour_img_2 {
  background-image: url(./img1920/main/take_your_tour/card\ tour\ photo-2.jpg);
}
.card_tour_img_3 {
  background-image: url(./img1920/main/take_your_tour/card\ tour\ photo-3.jpg);
}
.card_tour_img_4 {
  background-image: url(./img1920/main/take_your_tour/card\ tour\ photo-4.jpg);
}
.card_tour_img_5 {
  background-image: url(./img1920/main/take_your_tour/card\ tour\ photo-5.jpg);
}
.card_tour_img_6 {
  background-image: url(./img1920/main/take_your_tour/card\ tour\ photo-6.jpg);
}
.overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 50px;
  left: 50px;
  max-width: 240px;
  height: 126px;
  color: white;
}
.overlay h3 {
  color: white;
}
.overlay p {
  position: absolute;
  top: 102px;
  font: 400 17px/24.14px Roboto, sans-serif;
}
.about_tour_btn {
  display: flex;
  align-items: center;
  position: relative;
  top: 311px;
  right: 19px;
  width: 199px;
  height: 42px;
  border-radius: 50px;
  cursor: pointer;
}
.card_tour:hover .about_tour_btn {
  background-color: #286562;
}
.card_tour:hover .about_tour_btn:active {
  background-color: #efa501;
}
.about_tour_btn a {
  max-width: 199px;
  padding: 7px 16px 7px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background: none;
  font: 700 23px/28.06px Roboto, sans-serif;
  color: white;
}
.about_tour_btn img {
  max-width: 22px;
  height: 15px;
}
/* end 1920px container_take_your_tour  *******************************************************/
/* begin 1920px container_collect_your_tour  **************************************************/
.container_collect_your_tour {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  top: 270px;
  height: 1245px;
  margin: 0 auto;
}
.title_collect_your_tour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 458px;
  height: 159px;
}
.title_collect_your_tour p {
  position: absolute;
  top: 103px;
  width: 400px;
  height: 56px;
  text-align: center;
}
.form_collect_your_tour {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  gap: 33px;
  position: relative;
  top: 100px;
  width: 1170px;
  height: 986px;
  border-radius: 50px;
  background-color: white;
}
.form_block {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5px;
  width: 1030px;
  height: 104px;
  font: 400 20px/28.4px Roboto, sans-serif;
}
.form input,
.form select,
.form input[type="date"] {
  display: flex;
  position: relative;
  top: 8px;
  width: 500px;
  height: 68px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f9f7f4;
  font: 400 20px/28.4px Roboto, sans-serif;
  text-indent: 20px;
}
.form select {
  appearance: none;
  overflow: hidden;
  background: url(./img1920/main/icons/ic-dropdown.svg) no-repeat right;
  background-color: #f9f7f4;
  background-position-x: calc(100% - 20px);
  color: #a6a6a6;
}

.form input[type="date"] {
  text-indent: 10px;
  text-transform: uppercase;
}
.form input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.form input:focus,
.form select:focus,
.form textarea[id="comment"]:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}
.form input::placeholder {
  font: 400 20px/28.4px Roboto, sans-serif;
  text-indent: 20px;
  color: #a6a6a6;
}
.form_block_comment {
  position: relative;
  top: 5px;
  left: 0;
  height: 190px;
  font: 400 20px/28.4px Roboto, sans-serif;
}
.form_block_comment .form textarea {
  display: flex;
  position: relative;
  top: 8px;
  width: 1010px;
  height: 132px;
  padding: 10px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  resize: none;
  background-color: #f9f7f4;
  font: 400 20px/28.4px Roboto, sans-serif;
}
.form_block_radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1030px;
  height: 64px;
  font: 400 20px/28.4px Roboto, sans-serif;
}
.form_block_radio .form {
  display: flex;
  justify-content: space-between;
  max-width: 166px;
}
.radio_btn_yes,
.radio_btn_no {
  height: 28px;
}
.radio_btn_yes {
  width: 63px;
}
.radio_btn_no {
  width: 72px;
}
.radio_btn_yes input,
.radio_btn_no input,
.radio_btn_yes label,
.radio_btn_no label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.radio_btn_yes input,
.radio_btn_no input {
  display: none;
}
.radio_btn_yes label::before,
.radio_btn_no label::before {
  user-select: none;
  content: url(./img1920/main/icons/empty_radiobutton.svg);
}
.radio_btn_yes input:checked + label::before,
.radio_btn_no input:checked + label::before {
  content: url(./img1920/main/icons/checked_radiobutton.svg);
  user-select: none;
}
.form_block_license {
  display: flex;
  position: relative;
  bottom: 5px;
  width: 1030px;
  font: 400 17px/24.14px Roboto, sans-serif;
  letter-spacing: -0.2px;
  color: #a6a6a6;
}
.form_block_license label {
  cursor: default;
}
.form_block_license a {
  color: black;
}
.form_block_license input {
  display: none;
}
.form_block_license label::before {
  content: url(./img1920/main/icons/empty_checkbox.svg);
  position: relative;
  margin-right: 19px;
  cursor: pointer;
  user-select: none;
}
input[type="checkbox"]:checked + label::before {
  content: url(./img1920/main/icons/checked_checkbox.svg);
  user-select: none;
}
.form_block_license a:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.form_block_license a:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}
.form_block_btns {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 5px;
  width: 1030px;
  height: 58px;
}
.block_btns {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.find-tour-btn,
.reset-btn {
  width: 235px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 30px;
  font: 400 20px/28.4px Roboto, sans-serif;
  background-color: #286562;
  color: white;
}
.reset-btn {
  background-color: #e0f0e5;
  color: #286562;
}
.find-tour-btn:hover {
  background-color: #3b7e7b;
}
.find-tour-btn:active {
  background-color: #627f7e;
}
.reset-btn:hover {
  background-color: #f1f3f2;
}
.reset-btn:active {
  background-color: #d9dfdb;
}
/* end 1920px container_collect_your_tour  ****************************************************/
/* begin 1920px container_reviewer  ***********************************************************/
.container_reviewer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  top: 403px;
  height: 1005px;
  margin: 0 auto;
}
.title_reviewer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 529px;
  height: 232px;
  text-align: center;
}
.title_reviewer p {
  position: absolute;
  top: 176px;
  max-width: 418px;
  height: 56px;
}
.block_reviewer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  top: 102px;
  height: 671px;
  color: #1b1f2b;
}
.card_reviewer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 570px;
  max-height: 651px;
  padding: 20px 40px 0 40px;
  border-radius: 50px;
  background-color: #f4f0e9;
}
.reviewer_text {
  position: relative;
  top: 18px;
  max-width: 490px;
  font: 700 23px/28.06px Roboto, sans-serif;
}
.reviewer_data_1,
.reviewer_data_2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 490px;
  height: 75px;
  padding-bottom: 40px;
}
.reviewer_name {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 415px;
  height: 75px;
}
.reviewer_name p {
  font: 400 17px/24.14px Roboto, sans-serif;
  color: #a6a6a6;
}
.reviewer_photo img {
  max-width: 75px;
  height: 75px;
  border-radius: 100px;
}
/* end 1920px container_reviewer  *************************************************************/
/* begin 1920px container_travel_photos  ******************************************************/
.container_travel_photos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 538px;
  max-width: 100%;
  height: 1222px;
  margin: 0 auto;
}
.title_travel_photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 730px;
  height: 160px;
  text-align: center;
}
.title_travel_photos p {
  width: 418px;
  height: 56px;
}
.block_travel_photos {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: relative;
  max-width: 98%;
  height: 963px;
  padding: 0 30px;
}
.four_travel_photos,
.five_travel_photos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
  height: 301px;
}
.travel_photo_1 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-1.jpg);
}
.travel_photo_2 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-2.jpg);
}
.travel_photo_3 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-3.jpg);
}
.travel_photo_4 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-4.jpg);
}
.travel_photo_5 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-5.png);
}
.travel_photo_6 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-6.png);
}
.travel_photo_7 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-7.png);
}
.travel_photo_8 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-8.png);
}
.travel_photo_9 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-9.png);
}
.travel_photo_10 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-10.jpg);
}
.travel_photo_11 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-11.jpg);
}
.travel_photo_12 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-12.jpg);
}
.travel_photo_13 {
  background-image: url(./img1920/main/travel_photos/travel\ photo-13.jpg);
}
.travel_photo_1,
.travel_photo_2,
.travel_photo_3,
.travel_photo_4,
.travel_photo_10,
.travel_photo_11,
.travel_photo_12,
.travel_photo_13 {
  width: 442.5px;
  height: 300px;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
}
.travel_photo_5,
.travel_photo_6,
.travel_photo_7,
.travel_photo_8,
.travel_photo_9 {
  width: 348.72px;
  height: 301px;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
}
/* end 1920px container_travel_photos  ********************************************************/
/* begin 1920px container_travel_stories  *****************************************************/
.container_travel_stories {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  top: 675px;
  height: 2060px;
  margin: 0 auto;
}
.title_travel_stories {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  max-width: 615px;
  height: 159px;
  text-align: center;
}
.title_travel_stories p {
  max-width: 418px;
}
.block_travel_stories_cards {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  top: 259px;
  height: 1801px;
}
.travel_stories_card {
  cursor: pointer;
  position: relative;
}
.travel_stories_card_img_1 {
  background-image: url(./img1920/main/travel_stories/story\ photo-1.png);
}
.travel_stories_card_img_2 {
  background-image: url(./img1920/main/travel_stories/story\ photo-2.png);
}
.travel_stories_card_img_3 {
  background-image: url(./img1920/main/travel_stories/story\ photo-3.png);
}
.travel_stories_card_img_1,
.travel_stories_card_img_2,
.travel_stories_card_img_3 {
  width: 1170px;
  height: 567px;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
}
.travel_stories_card .bg_gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0.8;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
}
.travel_stories_overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1;
  height: 305px;
  color: white;
}
.travel_stories_overlay h3 {
  height: 43px;
  padding-bottom: 10px;
  color: white;
}
.travel_stories_overlay p {
  position: relative;
  top: 27px;
  max-width: 554px;
  color: white;
}
.travel_stories_overlay ul {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  left: 12px;
}
.travel_stories_overlay ul li {
  list-style-type: none;
  font: 400 20px/28.4px Roboto, sans-serif;
}
.travel_stories_overlay ul li::before {
  content: "·";
  padding-right: 13px;
  font-size: 21px;
}
.travel_stories_overlay_btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 412px;
  left: -20px;
  width: 1070px;
  height: 42px;
}
.about_travel_story_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 199px;
  height: 42px;
  border-radius: 50px;
  cursor: pointer;
}
.about_travel_story_btn a {
  text-decoration: none;
  border: none;
  font: 700 23px/28.06px Roboto, sans-serif;
  color: white;
}
.about_travel_story_btn img {
  position: relative;
  right: 2px;
  width: 22px;
  height: 15px;
}
.travel_stories_card:hover .about_travel_story_btn {
  background-color: #286562;
}
.travel_stories_card .about_travel_story_btn:active {
  background-color: #efa501;
}
.contacts_1,
.contacts_2,
.contacts_3 {
  display: flex;
  justify-content: space-between;
  width: 322px;
  height: 28px;
  font: 400 20px/28.4px Roboto, sans-serif;
}
.contacts_1 a,
.contacts_2 a,
.contacts_3 a {
  text-decoration: none;
  color: white;
}
.contacts_1 a:hover,
.contacts_2 a:hover,
.contacts_3 a:hover {
  border-bottom: 1px solid white;
}
.contacts_1 a:active,
.contacts_2 a:active,
.contacts_3 a:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}
.contacts_2 {
  width: 224px;
}
.contacts_3 {
  width: 343px;
}
/* end 1920px container_travel_stories  *******************************************************/
/* begin 1920px container_travel_with_us  *****************************************************/
.container_travel_with_us {
  position: relative;
  top: 810px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.block_travel_with_us {
  max-width: 770px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.travel_with_us_img {
  width: 370px;
  height: 370px;
  margin-right: 20px;
  border-radius: 50px;
  background-image: url(./img1920/main/travel_with_us/footer\ photo.jpg);
  background-size: cover;
  background-position: center center;
}
.title_travel_with_us {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  max-width: 370px;
  height: 162px;
}
.title_travel_with_us a {
  text-decoration: none;
  color: black;
}
.title_travel_with_us a:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.title_travel_with_us a:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}
/* end 1920px container_travel_with_us  *******************************************************/
/* begin 1920px footer  ***********************************************************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9012px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 88px;
  background-color: #f4f0e9;
  font: 400 20px/28.4px Roboto, sans-serif;
}
.container_footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 61.5%;
}
.contacts_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 410px;
  height: 28px;
}
.instagram,
.facebook,
.vkontakte {
  display: flex;
  cursor: pointer;
}
.instagram a,
.facebook a,
.vkontakte a {
  text-decoration: none;
  color: #1b1f2b;
}
.instagram a:hover,
.facebook a:hover,
.vkontakte a:hover {
  border-bottom: 1px solid black;
}
.instagram a:active,
.facebook a:active,
.vkontakte a:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}
.instagram img {
  padding-right: 12px;
}
.facebook img {
  padding: 0 15px 0 38px;
}
.vkontakte img {
  padding: 0 12px 0 29px;
}
/* end 1920px footer  *************************************************************************/
/* end 1920px  ********************************************************************************/
/* begin 1024px *******************************************************************************/
@media (min-width: 761px) and (max-width: 1280px) {
  /* basic header, containers , footer styles */
  .wrapper {
    max-width: 1280px;
    height: 9784px;
  }
  .container_nav_bar {
    max-width: 100%;
    margin: 0 auto;
  }
  .container_take_your_tour,
  .container_collect_your_tour,
  .container_reviewer,
  .container_travel_photos,
  .container_travel_stories,
  .container_travel_with_us,
  footer {
    max-width: 1280px;
  }
  header {
    background-image: url(./img1024/header/header_bg.png);
  }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    height: 830px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  @media (min-width: 761px) and (max-width: 920px) {
    .menu {
      display: none;
    }
  }
  .nav_bar {
    max-width: 910px;
    margin: 0 auto;
    padding: 0 53px;
  }
  .menu {
    max-width: 408px;
  }
  /* end 1024px header navbar *****************************************************************/
  /* begin 1024px block_header_preview  *******************************************************/
  .block_header_preview h1 {
    max-width: 914px;
  }
  .block_header_preview p {
    width: 442px;
  }
  /* end 1024px block_header_preview  *********************************************************/
  /* begin 1024px container_take_your_tour  ***************************************************/
  .container_take_your_tour {
    height: 1871px;
  }
  .title_take_your_tour {
    height: 142px;
  }
  .block_tours {
    gap: 18px;
    max-width: 1138px;
    height: 1629px;
    padding: 0 53px;
  }
  .card_tour {
    width: calc(50% - 9px);
  }
  .card_tour_img_1 {
    background-image: url(./img1024/main/take_your_tour/card\ tour\ photo-1.jpg);
  }
  .card_tour_img_2 {
    background-image: url(./img1024/main/take_your_tour/card\ tour\ photo-2.jpg);
  }
  .card_tour_img_3 {
    background-image: url(./img1024/main/take_your_tour/card\ tour\ photo-3.jpg);
  }
  .card_tour_img_4 {
    background-image: url(./img1024/main/take_your_tour/card\ tour\ photo-4.jpg);
  }
  .card_tour_img_5 {
    background-image: url(./img1024/main/take_your_tour/card\ tour\ photo-5.jpg);
  }
  .card_tour_img_6 {
    background-image: url(./img1024/main/take_your_tour/card\ tour\ photo-6.jpg);
  }
  .card_tour_img_1,
  .card_tour_img_2,
  .card_tour_img_3,
  .card_tour_img_4,
  .card_tour_img_5,
  .card_tour_img_6 {
    width: 560px;
    max-width: 100%;
    background-size: 100% 100%;
  }
  .overlay {
    right: 50px;
    max-width: 100%;
    height: 83px;
  }
  .overlay p {
    position: relative;
    top: 14px;
  }
  .about_tour_btn {
    position: absolute;
    top: 393px;
    left: -20px;
  }
  /* end 1024px container_take_your_tour  *****************************************************/
  /* begin 1024px container_collect_your_tour  ************************************************/
  .container_collect_your_tour {
    height: 1225px;
    width: 100%;
  }
  .form_collect_your_tour {
    max-width: 1138px;
    width: 91%;
    height: 966px;
  }
  .form_block {
    gap: 20px;
    justify-content: initial;
    width: 87.5%;
  }
  .form {
    width: 100%;
  }
  .form input,
  .form select,
  .form input[type="date"],
  .form textarea {
    max-width: 517px;
    width: 100%;
  }
  .form_block_comment {
    width: 88%;
  }
  .form_block_comment .form textarea {
    max-width: 97.5%;
  }
  .form_block_radio {
    width: 87.5%;
  }
  .form_block_license {
    width: 88%;
  }
  .form_block_license label:before {
    margin-right: 11px;
  }
  .form_block_btns {
    width: 88%;
  }
  /* end 1024px container_collect_your_tour  **************************************************/
  /* begin 1024px container_reviewer  *********************************************************/
  .container_reviewer {
    top: 405px;
    height: 1173px;
    width: 100%;
  }
  .block_reviewer {
    gap: 18px;
    height: 841px;
    padding: 0 53px;
  }
  .card_reviewer {
    max-width: 450px;
    max-height: 818px;
  }
  @media (max-width: 947px) {
    .container_reviewer {
      height: 1208px;
    }
    .block_reviewer {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    .card_reviewer {
      max-width: 675px;
      width: 100%;
      max-height: 818px;
    }
    .reviewer_text {
      max-width: 673px;
    }
    .reviewer_data_1,
    .reviewer_data_2 {
      width: 355px;
      margin: 0 auto;
      padding: 40px 0;
    }
  }
  /* end 1024px container_reviewer  ***********************************************************/
  /* begin 1024px container_travel_photos  ****************************************************/
  .container_travel_photos {
    width: 100%;
  }
  .block_travel_photos {
    padding: 0 20px;
  }
  .four_travel_photos,
  .five_travel_photos {
    width: 100%;
  }
  .travel_photo_1 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-1.png);
  }
  .travel_photo_3 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-3.png);
  }
  .travel_photo_4 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-4.png);
  }
  .travel_photo_5 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-5.png);
  }
  .travel_photo_6 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-6.png);
  }
  .travel_photo_8 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-8.png);
  }
  .travel_photo_9 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-9.png);
  }
  .travel_photo_10 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-10.png);
  }
  .travel_photo_11 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-11.png);
  }
  .travel_photo_12 {
    background-image: url(./img1024/main/travel_photos/travel\ photo-12.png);
  }
  .travel_photo_2,
  .travel_photo_7,
  .travel_photo_13 {
    display: none;
  }
  .travel_photo_1,
  .travel_photo_2,
  .travel_photo_3,
  .travel_photo_4,
  .travel_photo_10,
  .travel_photo_11,
  .travel_photo_12,
  .travel_photo_13 {
    gap: 20px;
    max-width: 390px;
    height: 300px;
    border-radius: 50px;
    background-size: cover;
    background-position: center center;
  }
  .travel_photo_5,
  .travel_photo_6,
  .travel_photo_7,
  .travel_photo_8,
  .travel_photo_9 {
    max-width: 286px;
    height: 301px;
    border-radius: 50px;
    background-size: cover;
    background-position: center center;
  }
  /* end 1024px container_travel_photos  ******************************************************/
  /* begin 1024px container_travel_stories  ***************************************************/
  .container_travel_stories {
    width: 100%;
    height: 2062px;
  }
  .block_travel_stories_cards {
    margin: 0 auto;
    width: 91.5%;
  }
  .travel_stories_card {
    max-width: 1153px;
    width: 100%;
  }
  .travel_stories_card_img_1 {
    background-image: url(./img1024/main/travel_stories/story\ photo-1.png);
  }
  .travel_stories_card_img_2 {
    background-image: url(./img1024/main/travel_stories/story\ photo-2.png);
  }
  .travel_stories_card_img_3 {
    background-image: url(./img1024/main/travel_stories/story\ photo-3.png);
  }
  .travel_stories_card_img_1,
  .travel_stories_card_img_2,
  .travel_stories_card_img_3 {
    width: 100%;
    border-radius: 50px;
    background-size: 100% 100%;
    background-position: center center;
  }
  .travel_stories_overlay {
    max-width: 1050px;
    width: 90%;
  }
  .travel_stories_overlay_btns {
    width: 100%;
  }
  /* end 1024px container_travel_stories  *****************************************************/
  /* begin 1024px container_travel_with_us  ***************************************************/
  .container_travel_with_us {
    top: 808px;
    width: 100%;
    margin: 0 auto;
  }
  .block_travel_with_us {
    justify-content: initial;
    width: 91%;
  }
  /* end 1024px container_travel_with_us  *****************************************************/
  /* begin 1024px footer  *********************************************************************/
  footer {
    top: 9697px;
  }
  .container_footer {
    width: 89.7%;
  }
  .instagram a:hover,
  .facebook a:hover,
  .vkontakte a:hover {
    border: none;
  }
}
/* end 1024px footer  *************************************************************************/
/* end 1024px *********************************************************************************/
/* begin 360px ********************************************************************************/
@media (max-width: 760px) {
  /* basic header , containers , footer styles */
  .wrapper {
    max-width: 760px;
    max-height: 100%;
    height: 7445px;
  }
  header,
  .container_take_your_tour,
  .container_collect_your_tour,
  .container_reviewer,
  .container_travel_photos,
  .container_travel_stories,
  .container_travel_with_us,
  footer {
    max-width: 760px;
  }
  /* basic h2 styles */
  .title_take_your_tour h2,
  .title_collect_your_tour h2,
  .title_reviewer h2,
  .title_travel_photos h2,
  .title_travel_stories h2 {
    font: 700 34px/38.08px Roboto, sans-serif;
  }
  /* basic h3 styles */
  .overlay h3,
  .reviewer_name h3,
  .travel_stories_overlay h3,
  .title_travel_with_us h3 {
    font: 700 23px/27.6px Roboto, sans-serif;
  }
  /* basic p styles */
  .block_header_preview p,
  .title_collect_your_tour p,
  .overlay p,
  .title_reviewer p,
  .reviewer_name p,
  .title_travel_photos p,
  .title_travel_stories p,
  .travel_stories_overlay p,
  .title_travel_with_us p {
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  header {
    height: 488px;
    background-image: url(./img360/header/header_bg.png);
    background-size: cover;
    background-position: center center;
  }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 760px;
    height: 488px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  .container_nav_bar {
    max-width: 760px;
  }
  .nav_bar {
    top: 32.5px;
    min-width: 320px;
    max-width: 550px;
    height: 23px;
    padding: 0 20px;
  }
  .logo a img {
    width: 133px;
  }
  .menu {
    display: none;
  }
  .phone {
    width: 124px;
  }
  .menu_tel {
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  /* end 360px header navbar ******************************************************************/
  /* begin 360px block_header_preview  ********************************************************/
  .block_header_preview {
    top: 111px;
    height: 375px;
  }
  .block_header_preview h1 {
    top: 30px;
    width: 360px;
    height: 114px;
    font: 700 34px/38.08px Roboto, sans-serif;
    letter-spacing: 0.7px;
  }
  .block_header_preview p {
    top: 184px;
    width: 310px;
    height: 69px;
  }
  .find_tour_btn {
    top: 292px;
    font: 400 16px/22.72px Roboto, sans-serif;
    letter-spacing: -0.08px;
  }
  .find_tour_btn a {
    width: 114px;
  }
  .find_tour_btn a:hover {
    background-color: inherit;
    color: black;
  }
  .find_tour_btn a:active {
    background-color: inherit;
  }
  .block_header_preview span {
    width: 74px;
    height: 23px;
    padding: 5px 20px;
  }
  /* end 360px block_header_preview  **********************************************************/
  /* begin 360px container_take_your_tour  ****************************************************/
  .container_take_your_tour {
    top: 76px;
    width: 100%;
    height: 24.35%;
    max-height: 100%;
  }
  .title_take_your_tour {
    width: 100%;
  }
  .title_take_your_tour h2 {
    position: relative;
    margin: 0 auto;
    width: 282px;
    height: 38px;
    letter-spacing: 0.6px;
  }
  .your_tour_variants {
    flex-flow: row wrap;
    justify-content: center;
    top: 25px;
    max-width: 760px;
    height: 56px;
  }
  .your_tour_variants a {
    padding: 7px;
    font: 700 16px/22.72px Roboto, sans-serif;
  }
  .your_tour_variants a:hover {
    color: #efa501;
    border-bottom: 2px solid #efa501;
  }
  .block_tours {
    display: flex;
    flex-flow: row wrap;
    gap: 18px;
    top: 172px;
    max-width: 700px;
    padding: 0 21px;
    height: auto;
    margin: 0 auto;
  }
  .card_tour {
    border-radius: 20px;
    width: calc(50% - 11px);
    max-height: 408px;
    min-height: 318px;
  }
  .card_tour .bg_gradient {
    cursor: default;
    pointer-events: none;
  }
  .card_tour .bg_gradient::before {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .card_tour_img_1 {
    background-image: url(./img360/main/take_your_tour/card\ tour\ photo-1.png);
  }
  .card_tour_img_2 {
    background-image: url(./img360/main/take_your_tour/card\ tour\ photo-2.png);
  }
  .card_tour_img_3 {
    background-image: url(./img360/main/take_your_tour/card\ tour\ photo-3.png);
  }
  .card_tour_img_4 {
    background-image: url(./img360/main/take_your_tour/card\ tour\ photo-4.png);
  }
  .card_tour_img_5 {
    background-image: url(./img360/main/take_your_tour/card\ tour\ photo-5.png);
  }
  .card_tour_img_6 {
    background-image: url(./img360/main/take_your_tour/card\ tour\ photo-6.png);
  }
  .card_tour_img_1,
  .card_tour_img_2,
  .card_tour_img_3,
  .card_tour_img_4,
  .card_tour_img_5,
  .card_tour_img_6 {
    max-width: 100%;
    max-height: 408px;
    min-height: 318px;
    border-radius: 20px;
    background-size: 100% 100%;
  }
  @media (max-width: 600px) {
    .wrapper {
      max-height: 100%;
      height: 8185px;
      flex-flow: column nowrap;
      width: 100%;
    }
    .container_take_your_tour {
      top: 76px;
      width: 100%;
      height: 33%;
      max-height: 100%;
    }
    .block_tours {
      width: 90%;
      height: auto;
      margin: 0 auto;
      padding: 0 21px;
    }
    .card_tour {
      width: 100%;
      border-radius: 20px;
      aspect-ratio: 16/9;
    }
    .card_tour .bg_gradient::before {
      width: 100%;
      border-radius: 20px;
    }
    .card_tour_img_1,
    .card_tour_img_2,
    .card_tour_img_3,
    .card_tour_img_4,
    .card_tour_img_5,
    .card_tour_img_6 {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
  .overlay {
    display: flex;
    justify-content: space-between;
    top: 27px;
    left: 25px;
    right: 25px;
    max-width: 100%;
    height: 90%;
  }
  .overlay h3 {
    letter-spacing: 1px;
  }
  .overlay p {
    position: relative;
    top: 15px;
  }
  .about_tour_btn {
    margin-left: 20px;
    top: 0;
    width: 123px;
  }
  .card_tour:hover .about_tour_btn {
    background-color: transparent;
  }
  .card_tour:hover .about_tour_btn:active {
    background-color: transparent;
  }
  .about_tour_btn a {
    padding: 0 16px 0 0;
    font: 700 16px/22.72px Roboto, sans-serif;
  }
  /* end 360px container_take_your_tour  *****************************************************/
  /* begin 360px container_collect_your_tour  ************************************************/
  .container_collect_your_tour {
    top: 132px;
    margin: 0;
    height: 1262px;
  }
  .title_collect_your_tour {
    width: 318px;
    height: 104px;
    text-align: center;
  }
  .title_collect_your_tour h2 {
    letter-spacing: 0.7px;
  }
  .title_collect_your_tour p {
    top: 58px;
    width: 318px;
    height: 46px;
  }
  .form_collect_your_tour {
    flex-flow: column nowrap;
    justify-content: initial;
    gap: 0;
    top: 37px;
    width: 90%;
    max-height: 1080px;
    height: 100%;
    padding: 20px 0 0 0;
    border-radius: 30px;
  }
  .form_block {
    flex-direction: column;
    justify-content: initial;
    gap: 10px;
    max-width: 90%;
    height: 181px;
    margin-bottom: 27px;
  }
  .form_block .form,
  .form_block_comment .form,
  .form_block_radio {
    flex-direction: column;
    justify-content: initial;
    max-width: 100%;
    height: 65px;
    margin-bottom: 27px;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  .form_block .form input,
  .form_block .form select {
    width: 100%;
    height: 43px;
    cursor: default;
    text-indent: 10px;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  .form select {
    background-position-x: calc(100% - 8px);
  }
  .form input:focus,
  .form select:focus,
  .form textarea[id="comment"]:focus {
    outline: none;
    border: none;
  }
  .form input::placeholder {
    text-indent: 10px;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  .form_block_comment {
    width: 90%;
  }
  .form_block_comment .form {
    height: 165px;
  }
  .form_block_comment .form textarea {
    bottom: 20px;
    width: 100%;
    height: 112px;
    padding: 0;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  .form_block_radio {
    max-width: 90%;
    position: relative;
    top: 7px;
    height: 54px;
  }
  .form_block_radio .form {
    position: relative;
    top: 7px;
    width: 139px;
    height: 23px;
  }
  .radio_btn_yes,
  .radio_btn_no {
    height: 23px;
  }
  .radio_btn_yes {
    width: 51px;
  }
  .radio_btn_no {
    width: 58px;
  }
  .radio_btn_yes input,
  .radio_btn_no input {
    width: 20px;
    height: 20px;
  }
  .radio_btn_yes label:before,
  .radio_btn_no label:before {
    user-select: none;
    content: url(./img360/main/icons/empty_radiobutton_mobile.svg);
  }
  .radio_btn_yes input:checked + label:before,
  .radio_btn_no input:checked + label:before {
    user-select: none;
    content: url(./img360/main/icons/checked_radiobutton_mobile.svg);
  }
  .form_block_license {
    top: 7px;
    max-width: 86%;
    padding-bottom: 30px;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  .form_block_license label span {
    position: relative;
    border: 1px solid transparent;
  }
  .form_block_license input {
    width: 20px;
    height: 20px;
  }
  .form_block_license label:before {
    top: 0px;
    margin-right: 9px;
    content: url(./img360/main/icons/empty_checkbox_mobile.svg);
  }
  .form_block_license input[type="checkbox"]:checked + label:before {
    content: url(./img360/main/icons/checked_checkbox_mobile.svg);
  }
  .form_block_license a:hover,
  .form_block_license a:active {
    border: none;
    cursor: default;
    color: black;
  }
  .find-tour-btn:hover,
  .find-tour-btn:active {
    background-color: #286562;
  }
  .reset-btn:hover,
  .reset-btn:active {
    background-color: #e0f0e5;
  }
  .form_block_btns {
    top: 10px;
    width: 90%;
    height: 47px;
  }
  .block_btns {
    width: 285px;
  }
  .find-tour-btn,
  .reset-btn {
    width: 135px;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  /* end 360px container_collect_your_tour  **************************************************/
  /* begin 360px container_reviewer  *********************************************************/
  .container_reviewer {
    top: 238px;
    height: 1263px;
    width: 100%;
  }
  .title_reviewer {
    height: 142px;
  }
  .title_reviewer h2 {
    letter-spacing: 0.7px;
  }
  .title_reviewer p {
    top: 96px;
    width: 318px;
  }
  .block_reviewer {
    flex-flow: column;
    justify-content: initial;
    gap: 18px;
    top: 50px;
    height: 1018px;
    padding: 0 21px;
    width: 100%;
  }
  .card_reviewer {
    width: 80%;
    margin: 0 auto;
  }
  #card_reviewer_1 {
    height: 408px;
  }
  #card_reviewer_2 {
    height: 599px;
  }
  .card_reviewer {
    align-items: center;
    width: 318px;
    padding: 20px 0;
    border-radius: 20px;
  }
  .reviewer_text {
    top: 0;
    width: 277px;
    height: 253px;
    font: 700 16px/22.87px Roboto, sans-serif;
  }
  #card_reviewer_2 .reviewer_text {
    height: 479px;
  }
  .reviewer_data_1,
  .reviewer_data_2 {
    width: 278px;
    height: 75px;
    padding-bottom: 0;
  }
  #card_reviewer_1 .reviewer_data_1,
  #card_reviewer_2 .reviewer_data_2 {
    position: relative;
    top: 8px;
  }
  .reviewer_name {
    position: relative;
    top: 10px;
    width: 203px;
    height: 59px;
  }
  .reviewer_name h3 {
    letter-spacing: 0.6px;
  }
  .reviewer_name p {
    letter-spacing: -0px;
  }
  .reviewer_photo {
    position: relative;
    bottom: 10px;
    height: 75px;
  }
  /* end 360px container_reviewer  ***********************************************************/
  /* begin 360px container_travel_photos  ****************************************************/
  .container_travel_photos {
    top: 309px;
    height: 582px;
    width: 100%;
  }
  .title_travel_photos {
    height: 142px;
  }
  .title_travel_photos h2 {
    width: 318px;
    letter-spacing: 0.7px;
  }
  .title_travel_photos p {
    width: 318px;
    height: 46px;
  }
  .block_travel_photos {
    height: 366px;
    padding: 0 20px;
    width: 93%;
  }
  .four_travel_photos,
  .five_travel_photos {
    gap: 10px;
    width: 318px;
    height: 110px;
    margin: 0 auto;
  }
  .four_travel_photos {
    gap: 20px;
  }
  .travel_photo_1 {
    background-image: url(./img360/main/travel_photos/travel\ photo-1.png);
  }
  .travel_photo_4 {
    background-image: url(./img360/main/travel_photos/travel\ photo-4.png);
  }
  .travel_photo_5 {
    background-image: url(./img360/main/travel_photos/travel\ photo-5.png);
  }
  .travel_photo_8 {
    background-image: url(./img360/main/travel_photos/travel\ photo-8.png);
  }
  .travel_photo_9 {
    background-image: url(./img360/main/travel_photos/travel\ photo-9.png);
  }
  .travel_photo_10 {
    background-image: url(./img360/main/travel_photos/travel\ photo-10.png);
  }
  .travel_photo_11 {
    background-image: url(./img360/main/travel_photos/travel\ photo-11.png);
  }
  .travel_photo_2,
  .travel_photo_3,
  .travel_photo_6,
  .travel_photo_7,
  .travel_photo_12,
  .travel_photo_13 {
    display: none;
  }
  .travel_photo_1,
  .travel_photo_4,
  .travel_photo_5,
  .travel_photo_8,
  .travel_photo_9,
  .travel_photo_10,
  .travel_photo_11 {
    height: 110px;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
  }
  .travel_photo_1,
  .travel_photo_4 {
    width: 150px;
  }
  .travel_photo_10,
  .travel_photo_11 {
    width: 154px;
  }
  .travel_photo_5,
  .travel_photo_8,
  .travel_photo_9 {
    width: 99.33px;
  }
  /* end 360px container_travel_photos  *******************************************************/
  /* begin 360px container_travel_stories  ****************************************************/
  .container_travel_stories {
    top: 384px;
    width: 100%;
    height: 1597px;
  }
  .title_travel_stories {
    align-items: initial;
    width: 321px;
    height: 142px;
    padding: 0 20.5px;
  }
  .title_travel_stories h2 {
    width: 319px;
    height: 76px;
    letter-spacing: 0.7px;
  }
  .title_travel_stories p {
    width: 319px;
    height: 46px;
  }
  .block_travel_stories_cards {
    gap: 20px;
    top: 192px;
    width: 93%;
    height: 1405px;
    padding: 0;
  }
  .travel_stories_card {
    cursor: default;
  }
  .travel_stories_card .bg_gradient {
    cursor: default;
    pointer-events: none;
  }
  @media (max-width: 600px) {
    .travel_stories_card_img_1 {
      background-image: url(./img360/main/travel_stories/story\ photo-1.png);
    }
    .travel_stories_card_img_2 {
      background-image: url(./img360/main/travel_stories/story\ photo-2.png);
    }
    .travel_stories_card_img_3 {
      background-image: url(./img360/main/travel_stories/story\ photo-3.png);
    }
    .travel_stories_card_img_1,
    .travel_stories_card_img_2,
    .travel_stories_card_img_3 {
      height: 455px;
      max-width: 100%;
      border-radius: 20px;
      background-size: 100% 100%;
    }
  }
  .travel_stories_card_img_1,
  .travel_stories_card_img_2,
  .travel_stories_card_img_3 {
    height: 455px;
    max-width: 100%;
    border-radius: 20px;
    background-size: 100% 100%;
  }
  .travel_stories_card .bg_gradient::after {
    border-radius: 20px;
  }
  .travel_stories_overlay {
    justify-content: initial;
    top: 30px;
    left: 30px;
    width: 85%;
    height: 455px;
  }
  .travel_stories_overlay h3 {
    max-width: 66%;
    height: 56px;
    letter-spacing: 1px;
  }
  .travel_stories_overlay p {
    top: 10px;
    max-width: 99%;
    height: 230px;
  }
  .travel_stories_overlay ul {
    bottom: 18%;
    width: 263px;
    left: 0;
  }
  .travel_stories_overlay ul li {
    position: relative;
    left: 8px;
    height: 23px;
    list-style-type: none;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  .travel_stories_overlay ul li::before {
    padding-right: 10px;
  }
  .travel_stories_overlay_btns {
    top: 362px;
    width: 128px;
    height: 26px;
  }
  .about_travel_story_btn {
    position: relative;
    left: 18px;
    height: 42px;
    border-radius: 50px;
  }
  .travel_stories_card:hover .about_travel_story_btn,
  .about_travel_story_btn:active {
    background: none;
  }
  .about_travel_story_btn a {
    font: 700 16px/22.72px Roboto, sans-serif;
    margin-right: 16px;
  }
  .contacts_1,
  .contacts_2,
  .contacts_3 {
    display: none;
  }
  /* end 360px container_travel_stories  ******************************************************/
  /* begin 360px container_travel_with_us  ****************************************************/
  .container_travel_with_us {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    top: 525px;
    width: 100%;
    height: 295px;
  }
  .block_travel_with_us {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .travel_with_us_img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
    margin-right: 0;
    background-image: url(./img360/main/travel_with_us/footer\ photo.png);
  }
  .title_travel_with_us {
    position: relative;
    top: 25px;
    width: 291px;
    height: 128px;
    text-align: center;
  }
  .title_travel_with_us h3 {
    position: relative;
    top: 5px;
    width: 291px;
    height: 56px;
    letter-spacing: 0.9px;
  }
  .title_travel_with_us p {
    width: 291px;
  }
  .title_travel_with_us p a {
    text-decoration: none;
  }
  .title_travel_with_us span:hover {
    border: none;
  }
  .title_travel_with_us a:hover,
  .title_travel_with_us a:active {
    border: none;
    color: black;
  }
  /* end 360px container_travel_with_us  ******************************************************/
  /* begin 360px footer  **********************************************************************/
  footer {
    position: relative;
    top: 603px;
    height: 95px;
    font: 400 16px/22.72px Roboto, sans-serif;
  }
  .container_footer {
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 318px;
    height: 53px;
  }
  .contacts_footer {
    flex-flow: row nowrap;
    align-items: initial;
    justify-content: initial;
    top: 0;
    width: 314px;
    height: 23px;
  }
  .instagram,
  .facebook,
  .vkontakte {
    display: flex;
    align-items: center;
    position: absolute;
    left: 8px;
    height: 23px;
    cursor: default;
  }
  .instagram {
    width: 97px;
  }
  .facebook {
    left: 112px;
    width: 92px;
  }
  .vkontakte {
    left: 219px;
    width: 95px;
  }
  .instagram a:hover,
  .facebook a:hover,
  .vkontakte a:hover,
  .instagram a:active,
  .facebook a:active,
  .vkontakte a:active {
    border: none;
    cursor: default;
    color: black;
  }
  .instagram img {
    width: 10.77px;
    height: 10.77px;
    padding: 0 6.54px 0 0;
  }
  .facebook img {
    width: 6.15px;
    height: 13.08px;
    padding: 0 8.85px 0 10px;
  }
  .vkontakte img {
    width: 15.38px;
    height: 9.23px;
    padding: 0 6.54px 0 3px;
  }
  /* end 360px footer  ************************************************************************/
  /* end 360px ********************************************************************************/
}
@media (max-width: 359px) {
  .wrapper {
    min-width: 359px;
  }
}
/*★★★★★★★★★★★★★★★★★★★★★★★ ||| BE GREATEST ||| ★★★★★★★★★★★★★★★★★★★★★★★*/
/************************************ !!!   FINISH   !!! ************************************/
