/*************************************** !!!   START   !!! ************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background-color: #f9f7f4;
  margin: 0 auto;
}
/* begin 1920px *******************************************************************************/
/* basic containers styles */
.container_take_your_tour,
.container_collect_your_tour,
.container_reviewer,
.container_travel_stories {
  max-width: 1170px;
  margin-top: 135px;
}
/* basic name_title styles */
.name_title_take_your_tour,
.name_title_collect_your_tour,
.name_title_reviewer,
.name_title_travel_photos,
.name_title_travel_stories {
  font-weight: 700;
  font-size: 59px;
  line-height: 73.16px;
  font-family: Roboto, sans-serif;
  color: #1b1f2b;
}
/* basic h3 styles */
.card_tour_title,
.reviewer_name,
.name_travel_stories,
.name_title_travel_with_us {
  font-weight: 500;
  font-size: 35px;
  line-height: 42.7px;
  font-family: Roboto, sans-serif;
  color: #1b1f2b;
}
/* basic p styles */
.block_header_preview .description,
.title_collect_your_tour .description,
.title_reviewer .description,
.title_travel_photos .description,
.title_travel_stories .description,
.description,
.title_travel_with_us .description {
  margin-top: 30px;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
  color: #a6a6a6;
}
/* begin 1920px header navbar  ****************************************************************/
header {
  position: relative;
  max-width: 1920px;
  height: 831px;
  background: url(./img1920/header/header-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.container_nav_bar {
  max-width: 1920px;
  height: 88px;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 28.88px;
  max-width: 1168px;
  height: 30.24px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 468px;
}
.menu_item,
.menu_tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
  color: white;
}
.menu_item:hover {
  border-bottom: 1px solid white;
}
/***************************** ↓↓↓ Used by Javascript ↓↓↓ *************************************/
.scrolled_container_nav_bar .container_nav_bar {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #f3efe899;
  backdrop-filter: blur(54px);
}
.scrolled_container_nav_bar .menu_item:hover {
  border-bottom: 1px solid black;
  color: black;
}
.scrolled_container_nav_bar .menu_item,
.scrolled_container_nav_bar .menu_tel {
  color: black;
}
/***************************** ↑↑↑ Used by Javascript ↑↑↑ *************************************/
/* end 1920px header navbar *******************************************************************/
/* begin 1920px block_header_preview  *********************************************************/
.block_header_preview {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  height: auto;
  width: 100%;
  max-width: 1920px;
}
.block_header_preview .name_header {
  display: flex;
  position: absolute;
  top: 119px;
  width: 768px;
  height: 315px;
  font-weight: 700;
  font-size: 96px;
  line-height: 104.64px;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  color: white;
}
.block_header_preview .description {
  position: absolute;
  top: 452px;
  max-width: 562px;
  height: 56px;
  color: white;
}
.find_tour_btn {
  position: absolute;
  top: 590px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-weight: 400;
  font-size: 17px;
  line-height: 24.14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  letter-spacing: -0.3px;
  color: #1b1f2b;
}
.find_tour_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 34px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.find_tour_btn a:hover {
  background-color: #efa501;
  color: white;
}
.find_tour_btn a:active {
  background-color: #f8e6be;
  color: black;
}
/* end 1920px block_header_preview  ***********************************************************/
.main {
  display: flex;
  flex-flow: column nowrap;
}
/* begin 1920px container_take_your_tour  *****************************************************/
.container_take_your_tour {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 135px auto;
}
.title_take_your_tour {
  width: 700px;
  height: 150px;
  text-align: center;
}
.your_tour_variants {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  height: 28px;
}
.your_tour_variants a {
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 23px;
  line-height: 28.06px;
  font-family: Roboto, sans-serif;
  color: black;
  cursor: pointer;
}
.your_tour_variants a.active {
  color: #efa501;
  border-bottom: 2px solid #efa501;
}
.your_tour_variants a:hover {
  border-bottom: 2px solid black;
  color: black;
}
.block_tours {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 90px;
}
.card_tour {
  position: relative;
  max-height: 531px;
  overflow: hidden;
  border-radius: 50px;
}
.card_tour::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}

.card_tour_img {
  width: 100%;
  height: 531px;
  border-radius: 50px;
  transition: 300ms ease;
  transform: scale(1);
}
.card_tour:hover .card_tour_img {
  transition: 300ms ease;
  transform: scale(1.2);
}
.overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 50px;
  left: 50px;
  height: 445px;
  max-width: 240px;
  color: white;
  z-index: 1;
}
.overlay .card_tour_title {
  color: white;
}
.overlay .price {
  margin-top: 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24.14px;
  font-family: Roboto, sans-serif;
}
.about_tour_btn {
  display: flex;
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 199px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.card_tour:hover .about_tour_btn {
  background-color: #286562;
}
.card_tour:hover .about_tour_btn:active {
  background-color: #efa501;
}
.about_tour_btn .more {
  max-width: 199px;
  padding: 7px 16px 7px 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
  line-height: 28.06px;
  font-family: Roboto, sans-serif;
  color: white;
}
.about_tour_btn .more img {
  max-width: 22px;
  height: 15px;
  margin-left: 15px;
}
/* end 1920px container_take_your_tour  *******************************************************/
/* begin 1920px container_collect_your_tour  **************************************************/
.container_collect_your_tour {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
}
.title_collect_your_tour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 458px;
  height: 159px;
}
.title_collect_your_tour .description {
  height: 56px;
  text-align: center;
}
.form_collect_your_tour {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 32px;
  margin-top: 100px;
  width: 1170px;
  height: 986px;
  border-radius: 50px;
  background-color: white;
}
.form_block {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;
  width: 1030px;
  height: 104px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
}
.form_block select:valid {
  color: black;
}
.form_collect_your_tour input,
.form_collect_your_tour select,
.form_collect_your_tour input[type="date"] {
  display: flex;
  width: 500px;
  height: 68px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f9f7f4;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
  text-indent: 20px;
}
.form_collect_your_tour select {
  appearance: none;
  background: url(./img1920/main/icons/ic-dropdown.svg) no-repeat right;
  background-color: #f9f7f4;
  background-position-x: calc(100% - 20px);
  color: #a6a6a6;
}
.form_collect_your_tour input[type="date"] {
  color: #a6a6a6;
  text-indent: 10px;
  text-transform: uppercase;
}
.form_collect_your_tour input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.form_collect_your_tour input:focus,
.form_collect_your_tour select:focus,
.form_collect_your_tour textarea[id="comment"]:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}
.form_collect_your_tour input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
  text-indent: 20px;
  color: #a6a6a6;
}
.form_block_comment {
  margin: 0 auto;
  height: 190px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
}
.form_block_comment textarea {
  display: flex;
  margin-top: 8px;
  width: 1030px;
  height: 132px;
  padding: 10px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  resize: none;
  background-color: #f9f7f4;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
}
.form_block_radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
  height: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
}
.radio_btns {
  display: flex;
  justify-content: space-between;
  max-width: 166px;
}
.radio_btn_yes,
.radio_btn_no {
  height: 28px;
}
.radio_btn_yes {
  width: 63px;
}
.radio_btn_no {
  width: 72px;
}
.radio_btn_yes input,
.radio_btn_no input,
.radio_btn_yes label,
.radio_btn_no label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.radio_btn_yes input,
.radio_btn_no input {
  display: none;
}
.radio_btn_yes label::before,
.radio_btn_no label::before {
  content: url(./img1920/main/icons/empty_radiobutton.svg);
}
.radio_btn_yes input:checked + label::before,
.radio_btn_no input:checked + label::before {
  content: url(./img1920/main/icons/checked_radiobutton.svg);
}
.form_block_license {
  display: flex;
  width: 1030px;
  margin-left: 70px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24.14px;
  font-family: Roboto, sans-serif;
  letter-spacing: -0.2px;
  color: #a6a6a6;
}
.form_block_license a {
  color: black;
}
.form_block_license input {
  display: none;
}
.form_block_license label::before {
  content: url(./img1920/main/icons/empty_checkbox.svg);
  margin-right: 19px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
  content: url(./img1920/main/icons/checked_checkbox.svg);
}
.form_block_license a:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.form_block_license a:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}
.form_block_btns {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  height: 58px;
  margin-left: 70px;
}
.block_btns {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.find-tour-btn,
.reset-btn {
  width: 235px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
  background-color: #286562;
  color: white;
}
.reset-btn {
  background-color: #e0f0e5;
  color: #286562;
}
.find-tour-btn:hover {
  background-color: #3b7e7b;
}
.find-tour-btn:active {
  background-color: #627f7e;
}
.reset-btn:hover {
  background-color: #f1f3f2;
}
.reset-btn:active {
  background-color: #d9dfdb;
}
/* end 1920px container_collect_your_tour  ****************************************************/
/* begin 1920px container_reviewer  ***********************************************************/
.container_reviewer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 135px auto;
}
.title_reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 529px;
  height: 232px;
  text-align: center;
}
.title_reviewer p {
  max-width: 418px;
  height: 56px;
}
.block_reviewer {
  display: flex;
  gap: 30px;
  margin-top: 100px;
  color: #1b1f2b;
}
.card_reviewer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 570px;
  padding: 40px;
  border-radius: 50px;
  background-color: #f4f0e9;
}
.reviewer_text {
  max-width: 490px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28.06px;
  font-family: Roboto, sans-serif;
}
.reviewer_text p {
  margin-bottom: 30px;
}
.reviewer_data_1,
.reviewer_data_2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: end;
  max-width: 490px;
  height: 118px;
}
.reviewer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 75px;
}
.tour_name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.14px;
  font-family: Roboto, sans-serif;
  color: #a6a6a6;
}
.reviewer_photo img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
/* end 1920px container_reviewer  *************************************************************/
/* begin 1920px container_travel_photos  ******************************************************/
.container_travel_photos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
.title_travel_photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  text-align: center;
}
.title_travel_photos p {
  width: 418px;
  height: 56px;
}
.block_travel_photos {
  display: flex;
  flex-flow: column wrap;
  margin-top: 100px;
  gap: 30px;
}
.four_travel_photos,
.five_travel_photos {
  display: flex;
  margin: 0 auto;
  height: 301px;
}
.four_travel_photos img {
  width: 25%;
  border-radius: 50px;
  padding: 0 15px;
}
.five_travel_photos img {
  width: 20%;
  border-radius: 50px;
  padding: 0 15px;
}
/* end 1920px container_travel_photos  ********************************************************/
/* begin 1920px container_travel_stories  *****************************************************/
.container_travel_stories {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 135px auto;
}
.title_travel_stories {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 159px;
  text-align: center;
}
.title_travel_stories .description {
  max-width: 418px;
  margin-top: 30px;
}
.block_travel_stories_cards {
  display: flex;
  gap: 50px;
  flex-flow: column wrap;
  margin-top: 100px;
}
.travel_stories_card {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
}
.travel_stories_card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 1;
}
.travel_stories_card_img {
  border-radius: 50px;
  transition: 300ms ease;
  transform: scale(1);
}
.travel_stories_card:hover .travel_stories_card_img {
  transition: 300ms ease;
  transform: scale(1.2);
}
.travel_stories_overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1;
  color: white;
}
.name_travel_stories {
  color: white;
}
.travel_stories_overlay .description {
  margin-top: 37px;
  padding-right: 50px;
  max-width: 588px;
  color: white;
}
.reasons_list {
  display: flex;
  flex-flow: column;
  margin-left: 12px;
  margin-top: 27px;
}
.reasons_list li {
  list-style-type: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
}
.reasons_list li::before {
  content: "·";
  padding-right: 13px;
  font-size: 21px;
}
.travel_stories_overlay_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 412px;
  margin-left: -20px;
  width: 1070px;
}
.about_travel_story_btn {
  width: 199px;
  height: 42px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
}
.about_travel_story_btn .more {
  max-width: 199px;
  padding: 7px 16px 7px 20px;
  margin-top: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
  line-height: 28.06px;
  font-family: Roboto, sans-serif;
  color: white;
}
.about_travel_story_btn .more img {
  max-width: 22px;
  height: 15px;
  margin-left: 15px;
}
.travel_stories_card:hover .about_travel_story_btn {
  background-color: #286562;
}
.travel_stories_card .about_travel_story_btn:active {
  background-color: #efa501;
}
.contacts {
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
}
.contacts .contact_link {
  padding-left: 27px;
  text-decoration: none;
  color: white;
}
.contacts .contact_link span:hover {
  border-bottom: 1px solid white;
}
.contacts .contact_link span:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}
/* end 1920px container_travel_stories  *******************************************************/
/* begin 1920px container_travel_with_us  *****************************************************/
.container_travel_with_us {
  margin: 0 auto;
}
.block_travel_with_us {
  display: flex;
  align-items: center;
  width: 771px;
}
.travel_with_us_img {
  max-width: 370px;
  height: 370px;
  margin-right: 20px;
  border-radius: 50px;
}
.title_travel_with_us {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 371px;
  height: 162px;
}
.title_travel_with_us .description {
  margin-top: 0;
  padding-right: 0;
}
.title_travel_with_us .email {
  text-decoration: none;
  color: black;
}
.title_travel_with_us .email:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.title_travel_with_us .email:active {
  border-bottom: 1px solid #286562;
  color: #286562;
}
/* end 1920px container_travel_with_us  *******************************************************/
/* begin 1920px footer  ***********************************************************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 135px auto 0;
  height: 88px;
  background-color: #f4f0e9;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.4px;
  font-family: Roboto, sans-serif;
}
.container_footer {
  display: flex;
  justify-content: space-between;
  width: 61.5%;
}
.our_socials {
  color: #a6a6a6;
}
.contacts_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
  height: 28px;
}
.social_link {
  display: flex;
  cursor: pointer;
}
.social_link a {
  text-decoration: none;
  color: #1b1f2b;
}
.social_link span:hover {
  border-bottom: 1px solid black;
}
.social_link span:active {
  border-bottom: 1px solid #efa501;
  color: #efa501;
}
.social_link img {
  padding-right: 12px;
}
/* end 1920px footer  *************************************************************************/
/* end 1920px  ********************************************************************************/
/* begin 1024px *******************************************************************************/
@media (min-width: 761px) and (max-width: 1280px) {
  /* basic header, containers , footer styles */
  .container_nav_bar {
    margin: 0 auto;
  }
  .container_take_your_tour,
  .container_collect_your_tour,
  .container_reviewer,
  .container_travel_photos,
  .container_travel_stories,
  footer {
    max-width: 1280px;
    width: 100%;
  }
  header {
    background-image: url(./img1024/header/header_bg.png);
  }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    height: 830px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  @media (min-width: 761px) and (max-width: 920px) {
    .menu {
      display: none;
    }
  }
  .nav_bar {
    padding: 0 53px;
  }
  .menu {
    max-width: 408px;
  }
  /* end 1024px header navbar *****************************************************************/
  /* begin 1024px container_take_your_tour  ***************************************************/
  .block_tours {
    gap: 18px;
    padding: 0 53px;
  }
  .card_tour {
    width: 48.5%;
  }
  .overlay {
    right: 50px;
    max-width: 100%;
  }
  /* end 1024px container_take_your_tour  *****************************************************/
  /* begin 1024px container_collect_your_tour  ************************************************/
  .container_collect_your_tour {
    padding: 0 53px;
  }
  .form_collect_your_tour {
    width: 100%;
  }
  .form_block {
    margin: initial;
    padding: 0 60px;
    width: 100%;
  }
  .form_collect_your_tour input,
  .form_collect_your_tour select,
  .form_collect_your_tour input[type="date"] {
    width: 49%;
  }
  .form_block_comment {
    margin: initial;
    width: 100%;
    padding: 0 60px;
  }
  .form_block_comment textarea {
    width: 100%;
  }
  .form_block_radio {
    max-width: 170px;
    margin-left: 60px;
  }
  .form_block_license {
    width: 81%;
    margin-left: 60px;
  }
  .form_block_btns {
    max-width: 500px;
    margin-left: 60px;
  }
  /* end 1024px container_collect_your_tour  **************************************************/
  /* begin 1024px container_reviewer  *********************************************************/
  .block_reviewer {
    gap: 18px;
    padding: 0 53px;
  }
  @media (max-width: 947px) {
    .block_reviewer {
      display: flex;
      flex-flow: column nowrap;
    }
    .card_reviewer {
      max-width: 675px;
    }
    .reviewer_text {
      max-width: 673px;
    }
    .reviewer_data_1,
    .reviewer_data_2 {
      width: 355px;
      margin: 0 auto;
      padding: 40px 0 0 0;
    }
  }
  /* end 1024px container_reviewer  ***********************************************************/
  /* begin 1024px container_travel_photos  ****************************************************/
  .block_travel_photos {
    padding: 0 20px;
  }
  .four_travel_photos,
  .five_travel_photos {
    justify-content: space-between;
  }
  .four_travel_photos img {
    width: 32%;
    padding: 0;
  }
  .five_travel_photos img {
    width: 23.5%;
    padding: 0;
  }
  .travel_photo_2,
  .travel_photo_7,
  .travel_photo_13 {
    display: none;
  }
  /* end 1024px container_travel_photos  ******************************************************/
  /* begin 1024px container_travel_stories  ***************************************************/
  .container_travel_stories {
    padding: 0 60px;
  }
  .travel_stories_card {
    height: 567px;
  }
  .travel_stories_card_img {
    width: 100%;
    height: 567px;
  }
  .travel_stories_overlay {
    width: 90%;
  }
  .travel_stories_overlay_btns {
    width: 100%;
  }
  /* end 1024px container_travel_stories  *****************************************************/
  /* begin 1024px container_travel_with_us  ***************************************************/
  .container_travel_with_us {
    margin: 0 auto;
  }
  .block_travel_with_us {
    width: 100%;
    padding: 0 126px;
  }
  .travel_with_us_img {
    width: 50%;
  }
  /* end 1024px container_travel_with_us  *****************************************************/
  /* begin 1024px footer  *********************************************************************/
  .container_footer {
    width: 100%;
    padding: 0 53px;
  }
  .instagram a:hover,
  .facebook a:hover,
  .vkontakte a:hover {
    border: none;
  }
}
/* end 1024px footer  *************************************************************************/
/* end 1024px *********************************************************************************/
/* begin 360px ********************************************************************************/
@media (max-width: 760px) {
  /* basic header , containers , footer styles */
  .wrapper {
    max-width: 760px;
  }
  header,
  .container_take_your_tour,
  .container_collect_your_tour,
  .container_reviewer,
  .container_travel_photos,
  .container_travel_stories,
  .container_travel_with_us,
  footer {
    max-width: 760px;
  }
  /* basic h2 styles */
  .name_title_take_your_tour,
  .name_title_collect_your_tour,
  .name_title_reviewer,
  .name_title_travel_photos,
  .name_title_travel_stories {
    font-weight: 700;
    font-size: 34px;
    line-height: 38.08px;
    font-family: Roboto, sans-serif;
  }
  /* basic h3 styles */
  .card_tour_title,
  .reviewer_name,
  .travel_stories_overlay h3,
  .name_title_travel_with_us {
    font-weight: 700;
    font-size: 23px;
    line-height: 27.6px;
    font-family: Roboto, sans-serif;
  }
  /* basic p styles */
  .block_header_preview .description,
  .title_collect_your_tour p.description,
  .overlay p,
  .title_reviewer p,
  .reviewer_name p,
  .title_travel_photos .description,
  .title_travel_stories .description,
  .description,
  .title_travel_with_us .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  header {
    height: 488px;
    background-image: url(./img360/header/header_bg.png);
    background-size: cover;
    background-position: center center;
  }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 760px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  .nav_bar {
    top: 32.5px;
    min-width: 320px;
    max-width: 550px;
    height: 23px;
    padding: 0 20px;
  }
  .logo a img {
    width: 133px;
  }
  .menu {
    display: none;
  }
  .menu_tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  /* end 360px header navbar ******************************************************************/
  /* begin 360px block_header_preview  ********************************************************/
  .block_header_preview {
    position: absolute;
    top: 0;
  }
  .block_header_preview .name_header {
    top: 141px;
    width: 360px;
    font-weight: 700;
    font-size: 34px;
    line-height: 38.08px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.7px;
  }
  .block_header_preview .description {
    top: 265px;
    width: 310px;
    padding: 0;
  }
  .find_tour_btn {
    top: 403px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.08px;
  }
  .find_tour_btn a {
    width: 114px;
  }
  .find_tour_btn a:hover {
    background-color: inherit;
    color: black;
  }
  .find_tour_btn a:active {
    background-color: inherit;
  }
  /* end 360px block_header_preview  **********************************************************/
  /* begin 360px container_take_your_tour  ****************************************************/
  .container_take_your_tour {
    margin: 75px auto;
  }
  .title_take_your_tour {
    width: 100%;
    min-width: 360px;
  }
  .name_title_take_your_tour {
    letter-spacing: 0.6px;
  }
  .your_tour_variants {
    flex-flow: row wrap;
    justify-content: center;
    max-width: 760px;
    margin-top: 22px;
  }
  .your_tour_variants a {
    padding: 7px 0 0;
    margin-right: 12px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
    border: none;
  }
  .your_tour_variants a:hover {
    color: #efa501;
    border-bottom: 2px solid #efa501;
  }
  .block_tours {
    width: 100%;
    gap: 18px;
    padding: 0 21px;
    margin-top: 25px;
  }
  .card_tour {
    border-radius: 20px;
    width: calc(48.5%);
    height: 318px;
  }
  .card_tour_img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .card_tour::before {
    width: 100%;
    border-radius: 20px;
  }
  @media (max-width: 646px) {
    .block_tours {
      max-width: 420px;
      flex-flow: column nowrap;
    }
    .card_tour {
      width: 100%;
    }
  }
  .overlay {
    display: flex;
    top: 27px;
    left: 25px;
    right: 25px;
    height: initial;
    max-width: 100%;
  }
  .overlay .card_tour_title {
    letter-spacing: 1px;
  }
  .about_tour_btn {
    top: 240px;
    left: 0;
  }
  .card_tour:hover .about_tour_btn {
    background-color: transparent;
  }
  .card_tour:hover .about_tour_btn:active {
    background-color: transparent;
  }
  .about_tour_btn .more {
    display: flex;
    align-items: center;
    padding: 0 16px 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  /* end 360px container_take_your_tour  *****************************************************/
  /* begin 360px container_collect_your_tour  ************************************************/
  .container_collect_your_tour {
    margin: 0;
    padding: 0 21px;
  }
  .title_collect_your_tour {
    width: 327px;
    height: 104px;
    text-align: center;
  }
  .name_title_collect_your_tour {
    letter-spacing: 0.7px;
  }
  .title_collect_your_tour .description {
    height: 46px;
    margin-top: 0;
  }
  .form_collect_your_tour {
    flex-flow: column nowrap;
    justify-content: initial;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding: 20px 0 40px;
    gap: 5px;
    border-radius: 30px;
  }
  .form_block {
    width: 100%;
    justify-content: initial;
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .form_collect_your_tour input,
  .form_collect_your_tour select,
  .form_collect_your_tour input[type="date"] {
    width: 49%;
    height: 43px;
    margin-top: 8px;
    margin-bottom: 28px;
    cursor: default;
    text-indent: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .form_collect_your_tour input:focus,
  .form_collect_your_tour select:focus,
  .form_collect_your_tour textarea[id="comment"]:focus {
    outline: none;
    border: none;
  }
  .form_collect_your_tour input::placeholder {
    text-indent: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .form_block_comment {
    height: 163px;
    padding: 0 21px;
    margin: 0 0 25px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .form_block_comment textarea {
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .form_block_radio {
    max-width: 100%;
    height: 54px;
    margin: 0 0 25px 0;
    padding: 0 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .radio_btns {
    width: 139px;
    height: 23px;
  }
  .radio_btn_yes,
  .radio_btn_no {
    height: 23px;
  }
  .radio_btn_yes {
    width: 51px;
  }
  .radio_btn_no {
    width: 58px;
  }
  .radio_btn_yes input,
  .radio_btn_no input {
    width: 20px;
    height: 20px;
  }
  .radio_btn_yes label:before,
  .radio_btn_no label:before {
    content: url(./img360/main/icons/empty_radiobutton_mobile.svg);
  }
  .radio_btn_yes input:checked + label:before,
  .radio_btn_no input:checked + label:before {
    content: url(./img360/main/icons/checked_radiobutton_mobile.svg);
  }
  .form_block_license {
    max-width: 100%;
    padding: 0 21px;
    margin: 0 0 25px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .form_block_license input {
    width: 20px;
    height: 20px;
  }
  .form_block_license label:before {
    margin-right: 9px;
    content: url(./img360/main/icons/empty_checkbox_mobile.svg);
  }
  .form_block_license input[type="checkbox"]:checked + label:before {
    content: url(./img360/main/icons/checked_checkbox_mobile.svg);
  }
  .form_block_license a:hover,
  .form_block_license a:active {
    border: none;
    cursor: default;
    color: black;
  }
  .find-tour-btn:hover,
  .find-tour-btn:active {
    background-color: #286562;
  }
  .reset-btn:hover,
  .reset-btn:active {
    background-color: #e0f0e5;
  }
  .form_block_btns {
    width: 280px;
    padding: 0 21px;
    margin: initial;
    height: 47px;
  }
  .block_btns {
    gap: 10px;
  }
  .find-tour-btn,
  .reset-btn {
    width: 130px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  @media (max-width: 646px) {
    .form_block {
      height: 100%;
    }
    .form_collect_your_tour input,
    .form_collect_your_tour select,
    .form_collect_your_tour input[type="date"] {
      width: 100%;
    }
    .form_collect_your_tour select {
      background-position-x: calc(100% - 10px);
    }
  }
  /* end 360px container_collect_your_tour  **************************************************/
  /* begin 360px container_reviewer  *********************************************************/
  .container_reviewer {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .title_reviewer {
    height: 152px;
  }
  .name_title_reviewer {
    letter-spacing: 0.7px;
  }
  .title_reviewer .description {
    width: 318px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .block_reviewer {
    flex-flow: column nowrap;
    align-items: center;
    gap: 18px;
    margin-top: 50px;
    padding: 0 21px;
    width: 100%;
  }
  .card_reviewer {
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
  }
  .reviewer_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.87px;
    font-family: Roboto, sans-serif;
  }
  .reviewer_data_1,
  .reviewer_data_2 {
    flex-wrap: nowrap;
    width: 278px;
    height: 75px;
  }
  .reviewer_name {
    margin-top: 15px;
    letter-spacing: 0.6px;
  }
  .reviewer_photo {
    height: 75px;
  }
  /* end 360px container_reviewer  ***********************************************************/
  /* begin 360px container_travel_photos  ****************************************************/
  .title_travel_photos {
    height: 142px;
  }
  .name_title_travel_photos {
    width: 318px;
    letter-spacing: 0.7px;
  }
  .title_travel_photos .description {
    width: 318px;
    height: 46px;
  }
  .block_travel_photos {
    margin-top: 50px;
    width: 100%;
    gap: 20px;
  }
  .four_travel_photos,
  .five_travel_photos {
    gap: 10px;
    min-height: 110px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .four_travel_photos {
    gap: 20px;
  }
  .four_travel_photos img {
    width: calc(50% - 10px);
    border-radius: 20px;
    padding: 0;
  }
  .five_travel_photos img {
    width: calc(33% - 5px);
    border-radius: 20px;
    padding: 0;
  }
  .travel_photo_2,
  .travel_photo_3,
  .travel_photo_6,
  .travel_photo_7,
  .travel_photo_12,
  .travel_photo_13 {
    display: none;
  }
  /* end 360px container_travel_photos  *******************************************************/
  /* begin 360px container_travel_stories  ****************************************************/
  .container_travel_stories {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .title_travel_stories {
    width: 360px;
    height: 142px;
  }
  .name_title_travel_stories {
    letter-spacing: 0.7px;
  }
  .title_travel_stories .description {
    width: 319px;
    height: 46px;
  }
  .block_travel_stories_cards {
    gap: 20px;
    padding: 0 20px;
    margin-top: 50px;
  }
  .travel_stories_card {
    border-radius: 20px;
  }
  .travel_stories_card::before {
    height: 455px;
    border-radius: 20px;
  }
  .travel_stories_card_img {
    height: 455px;
    max-width: 100%;
    border-radius: 20px;
  }
  .travel_stories_overlay {
    top: 30px;
    left: 30px;
    min-width: 263px;
    max-width: 464px;
  }
  .name_travel_stories {
    max-width: 50%;
    height: 56px;
    letter-spacing: 1px;
  }
  .travel_stories_overlay .description {
    margin-top: 20px;
    padding-right: 20px;
  }
  .reasons_list {
    margin-left: 0;
  }
  .travel_stories_overlay ul li {
    margin-left: 8px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .reasons_list li::before {
    padding-right: 10px;
  }
  .travel_stories_overlay_btns {
    margin-top: 370px;
    width: 128px;
    height: 26px;
    margin-left: 0;
  }
  .about_travel_story_btn {
    height: 26px;
  }
  .about_travel_story_btn .more {
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .travel_stories_card:hover .about_travel_story_btn,
  .about_travel_story_btn:active {
    background: none;
  }
  .contacts {
    display: none;
  }
  /* end 360px container_travel_stories  ******************************************************/
  /* begin 360px container_travel_with_us  ****************************************************/
  .block_travel_with_us {
    width: 100%;
    flex-flow: column nowrap;
  }
  .travel_with_us_img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
    margin-right: 0;
  }
  .title_travel_with_us {
    margin-top: 25px;
    width: 291px;
    height: 128px;
    text-align: center;
  }
  .name_title_travel_with_us {
    letter-spacing: 0.9px;
  }
  .title_travel_with_us .description .email {
    text-decoration: none;
  }
  .title_travel_with_us .email:hover,
  .title_travel_with_us .email:active {
    border: none;
    color: black;
  }
  /* end 360px container_travel_with_us  ******************************************************/
  /* begin 360px footer  **********************************************************************/
  footer {
    margin-top: 75px;
    height: 95px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    font-family: Roboto, sans-serif;
  }
  .container_footer {
    flex-flow: column wrap;
    width: 100%;
    min-width: 318px;
    height: 53px;
  }
  .our_socials {
    text-align: center;
  }
  .contacts_footer {
    min-width: 314px;
    width: 100%;
    height: 23px;
    padding: 0 21px;
  }
  .social_link span:hover,
  .social_link span:active {
    border: none;
    cursor: default;
    color: black;
  }
  /* end 360px footer  ************************************************************************/
  /* end 360px ********************************************************************************/
}
@media (max-width: 359px) {
  .wrapper {
    min-width: 359px;
  }
}
/*★★★★★★★★★★★★★★★★★★★★★★★ ||| BE GREATEST ||| ★★★★★★★★★★★★★★★★★★★★★★★*/
/************************************ !!!   FINISH   !!! ************************************/
