* {
  font-family: $main-font;
}
html,
body {
  min-width: 360px;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $antiquewhite;
  @include blockSize(100%, 100%, 0 auto);
}
html {
  scroll-behavior: smooth;
}
.sect--size {
  @include blockSize(100%, 1170px, 135px auto 0);
}
.title {
  padding: 0 21px;
  text-align: center;
  @include section-title-font();
}
.subtitle {
  text-align: center;
  @include blockSize(418px, 100%, 30px auto 0);
  @include paragraph();
}

@include tablet() {
  .sect--size,
  .footer {
    @include blockSize(100%, null, 135px auto 0);
  }
}

@include phone() {
  .sect--size,
  .footer {
    @include blockSize(100%, 550px, 75px auto 0);
  }
  .title {
    @include blockSize(330px, 100%, 0 auto);
  }
  .subtitle {
    width: 320px;
  }
}
