&-block.scrolled-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  @include blockSize(100%, 100%, 0 auto);
  height: 88px;
  background-color: $transparentbeige;
  backdrop-filter: blur(54px);

  .nav-menu {
    &__list {
      &-item {
        @include transition(border-bottom);

        &:hover {
          border-bottom: 1px solid $black;
        }
      }

      &-link {
        color: $black;
      }
    }

    &__tel {
      color: $black;
    }
  }
}
