.container_collect_your_tour {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }
  .title_collect_your_tour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 159px;
  }
  .title_collect_your_tour .description {
    height: 56px;
    text-align: center;
  }
  .form_collect_your_tour {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 32px;
    margin-top: 100px;
    width: 100%;
    min-width: 1170px;
    height: 986px;
    border-radius: 50px;
    background-color: #ffffff;
  }
  .form_block {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 0 53px;
    height: 104px;
    font-size: 20px;
    line-height: 28.4px;
  }
  #direction:valid {
    color: #1b1f2b;
  }
  #direction,
  .form_input {
    display: flex;
    width: 100%;
    min-width: 500px;
    height: 68px;
    margin-top: 8px;
    border: 1px solid #f4f0e9;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f9f7f4;
    font-size: 20px;
    line-height: 28.4px;
    text-indent: 20px;
  }
  #direction {
    appearance: none;
    background: url(../../img/main/icons/ic-dropdown.svg) no-repeat right;
    background-color: #f9f7f4;
    background-position-x: calc(100% - 20px);
    color: #a6a6a6;
  }
  #from-date,
  #to-date {
    color: #1b1f2b;
    text-indent: 10px;
  }
  #from-date:invalid,
  #to-date:invalid {
    text-transform: uppercase;
    color: #a6a6a6;
  }
  .form_input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  .form_input:focus,
  #direction:focus,
  #comment:focus {
    outline: none;
    border: 1px solid #a6a6a6;
  }
  .form_input::placeholder {
    font-size: 20px;
    line-height: 28.4px;
    text-indent: 20px;
    color: #a6a6a6;
  }
  .form_block_comment {
    padding: 0 53px;
    height: 190px;
    font-size: 20px;
    line-height: 28.4px;
  }
  #comment {
    display: flex;
    margin-top: 8px;
    width: 100%;
    min-width: 1030px;
    height: 132px;
    padding: 10px;
    border: 1px solid #f4f0e9;
    border-radius: 10px;
    resize: none;
    background-color: #f9f7f4;
    font-size: 20px;
    line-height: 28.4px;
  }
  .form_block_radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
    height: 64px;
    font-size: 20px;
    line-height: 28.4px;
  }
  .radio_btns {
    display: flex;
    justify-content: space-between;
    max-width: 166px;
    height: 28px;
  }
  .radio_label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  #age_yes,
  #age_no {
    display: none;
  }
  .radio_label::before {
    margin-right: 12px;
    content: url(../../img/main/icons/empty-radiobutton.svg);
  }
  #age_yes:checked + .radio_label::before,
  #age_no:checked + .radio_label::before {
    content: url(../../img/main/icons/checked-radiobutton.svg);
  }
  .form_block_license {
    display: flex;
    width: 1030px;
    margin-left: 70px;
    font-size: 17px;
    line-height: 24.14px;
    letter-spacing: -0.2px;
    color: #a6a6a6;
  }
  .license_link {
    color: #1b1f2b;
  }
  #license_checkbox {
    display: none;
  }
  .license_label::before {
    content: url(../../img/main/icons/empty-checkbox.svg);
    margin-right: 19px;
    cursor: pointer;
  }
  #license_checkbox:checked + .license_label::before {
    content: url(../../img/main/icons/checked-checkbox.svg);
  }
  .license_label {
    display: flex;
  }
  .license_link:hover {
    border-bottom: 1px solid #1b1f2b;
    cursor: pointer;
  }
  .license_link:active {
    border-bottom: 1px solid #286562;
    color: #286562;
  }
  .form_block_btns {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    height: 58px;
    margin-left: 70px;
  }
  .block_btns {
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  .find-tour-btn,
  .reset-btn {
    width: 235px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 28.4px;
    background-color: #286562;
    color: #ffffff;
  }
  .reset-btn {
    background-color: #e0f0e5;
    color: #286562;
  }
  .find-tour-btn:hover {
    background-color: #3b7e7b;
  }
  .find-tour-btn:active {
    background-color: #627f7e;
  }
  .reset-btn:hover {
    background-color: #f1f3f2;
  }
  .reset-btn:active {
    background-color: #d9dfdb;
  }
  @media (min-width: 761px) and (max-width: 1280px) {
    .container_collect_your_tour {
        padding: 0 53px;
      }
      .form_collect_your_tour {
        width: 100%;
        min-width: initial;
      }
      .form_block {
        margin: initial;
        padding: 0 60px;
        gap: 20px;
        width: 100%;
      }
      .form_block label {
        width: 49%;
      }
      #direction,
      .form_input {
        max-width: 100%;
        min-width: initial;
      }
      .form_block_comment {
        margin: initial;
        width: 100%;
      }
      #comment {
        width: 100%;
        min-width: initial;
      }
      .form_block_radio {
        max-width: 170px;
        margin-left: 60px;
      }
      .form_block_license {
        width: 81%;
        margin-left: 60px;
      }
      .form_block_btns {
        max-width: 500px;
        margin-left: 60px;
      }
}
@media (max-width: 760px) {
    .container_collect_your_tour {
        padding: 0 21px;
      }
      .title_collect_your_tour {
        width: 327px;
        height: 104px;
        text-align: center;
      }
      .name_title_collect_your_tour {
        letter-spacing: 0.7px;
      }
      .title_collect_your_tour .description {
        width: 318px;
        height: 46px;
        margin-top: 0;
      }
      .form_collect_your_tour {
        flex-flow: column nowrap;
        justify-content: initial;
        width: 100%;
        height: 100%;
        min-width: initial;
        margin-top: 40px;
        padding: 40px 0;
        gap: 5px;
        border-radius: 30px;
      }
      .form_block {
        justify-content: initial;
        padding: 0 21px;
        font-size: 16px;
        gap: 8px;
        line-height: 22.72px;
        min-width: initial;
      }
      .form_block label {
        width: 49%;
      }
      #direction,
      .form_input {
        max-width: 100%;
        min-width: initial;
        height: 43px;
        margin-top: 8px;
        margin-bottom: 28px;
        cursor: default;
        text-indent: 10px;
        font-size: 16px;
        line-height: 22.72px;
      }
      .form_input {
        text-indent: 5px;
      }
      .form_input:focus,
      #direction:focus,
      #comment:focus {
        outline: none;
        border: none;
      }
      .form_input::placeholder {
        text-indent: 10px;
        font-size: 16px;
        line-height: 22.72px;
      }
      .form_block_comment {
        height: 163px;
        padding: 0 21px;
        margin: 0 0 25px 0;
        font-size: 16px;
        line-height: 22.72px;
      }
      #comment {
        max-width: 100%;
        min-width: initial;
        font-size: 16px;
        line-height: 22.72px;
      }
      .form_block_radio {
        max-width: 100%;
        height: 54px;
        margin: 0 0 25px 0;
        padding: 0 21px;
        font-size: 16px;
        line-height: 22.72px;
      }
      .radio_btns {
        width: 139px;
        height: 23px;
      }
      #age_yes,
      #age_no {
        width: 20px;
        height: 20px;
      }
    
      .form_block_license {
        max-width: 100%;
        padding: 0 21px;
        margin: 0 0 25px 0;
        font-size: 16px;
        line-height: 22.72px;
      }
      #license_checkbox {
        width: 20px;
        height: 20px;
      }
      .license_label:before {
        margin-right: 9px;
      }
    
      .license_link:hover,
      .license_link:active {
        border: none;
        cursor: default;
        color: #1b1f2b;
      }
      .find-tour-btn:hover,
      .find-tour-btn:active {
        background-color: #286562;
      }
      .reset-btn:hover,
      .reset-btn:active {
        background-color: #e0f0e5;
      }
      .form_block_btns {
        width: 280px;
        padding: 0 21px;
        margin: initial;
        height: 47px;
      }
      .block_btns {
        gap: 10px;
      }
      .find-tour-btn,
      .reset-btn {
        width: 130px;
        font-size: 15px;
        line-height: 22.72px;
      }
      @media (max-width: 658px) {
        .form_collect_your_tour {
          padding: 20px 0 40px;
        }
        .form_block {
          height: 100%;
        }
        .form_block label {
          width: 100%;
        }
        #direction,
        .form_input {
          width: 100%;
        }
        #direction {
          background-position-x: calc(100% - 10px);
        }
      }
}