.tour-build {
  .grid-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    background-color: $white;
    border-radius: 50px;
    padding: 70px;
    margin-top: 100px;
    @include paragraph($color: $black);
    @include tablet() {
      padding: 60px;
    }
    @include tabletPhoneMixin() {
      grid-template-columns: 1fr;
      padding: 40px;
    }
    @include phone() {
      margin-top: 40px;
      padding: 20px 20px 40px;
      border-radius: 30px;
    }
    &__field {
      @include tabletPhoneMixin() {
        grid-column: 1/3;
      }
      @include phone() {
        grid-column: 1/3;
      }
    }
    &__input,
    &__select {
      @include blockSize(100%, 100%, 8px auto 0);
      height: 68px;
      border: 1px solid $beigegray;
      border-radius: 10px;
      cursor: pointer;
      background-color: $antiquewhite;
      text-indent: 20px;

      &::placeholder {
        @include paragraph();
        text-indent: 20px;
      }

      &:focus {
        outline: none;
        border: 1px solid $light-gray;
      }
      @include phone() {
        height: 46px;
      }
    }

    &__select {
      appearance: none;
      background: url(./../img/main/icons/ic-dropdown.svg) no-repeat right;
      background-color: $antiquewhite;
      background-position-x: calc(100% - 20px);
      color: $light-gray;

      &:valid {
        color: $black;
      }
      &:focus {
        outline: none;
        border: 1px solid $light-gray;
      }
    }

    #from-date,
    #to-date {
      color: $black;
      text-indent: 10px;
      &:invalid {
        text-transform: uppercase;
        color: $light-gray;
      }
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
    }

    &__comment,
    &__age,
    &__license,
    &__confirm {
      grid-column: 1 / 3;
      width: 100%;
    }

    &__textarea {
      display: flex;
      @include blockSize(100%, 100%, 8px auto 0);
      height: 132px;
      padding: 10px;
      border: 1px solid $beigegray;
      border-radius: 10px;
      resize: none;
      background-color: $antiquewhite;
      text-indent: 10px;
      &:focus {
        outline: none;
        border: none;
      }
      &:focus {
        outline: none;
        border: 1px solid $light-gray;
      }
    }

    &__age {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 64px;
      &-btns {
        display: flex;
        justify-content: space-between;
        max-width: 166px;
        height: 28px;
      }

      &-input {
        display: none;
      }

      &-label {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &::before {
          content: "";
          margin-right: 12px;
          width: 26px;
          height: 26px;
          border: 2px solid $black;
          border-radius: 50%;
        }
      }

      .grid-form__age-input:checked + .grid-form__age-label::before {
        content: "●";
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        padding-bottom: 2px;
      }
    }

    &__license {
      display: flex;
      @include paragraph(400, 17px, 24px);

      &-checkbox {
        display: none;
      }

      &-label {
        display: flex;
        &::before {
          content: "";
          margin-right: 21px;
          min-width: 25px;
          height: 25px;
          border: 2px solid $black;
          border-radius: 5px;
        }
      }

      &-link {
        color: $black;
        text-decoration: none;
        word-spacing: 3px;
        @include transition(border-bottom);
        &:hover {
          border-bottom: 1px solid $black;
          cursor: pointer;
        }
        &:active {
          border-bottom: 1px solid $darkgreen;
          color: $darkgreen;
        }

        @include phone() {
          &:hover,
          &:active {
            border: none;
            cursor: default;
            color: $black;
          }
        }
      }
      .grid-form__license-checkbox:checked + .grid-form__license-label::before {
        content: "✔";
        text-align: center;
        color: $black;
        font-size: 18px;
      }
    }

    &__confirm {
      display: flex;
      justify-content: space-between;
      height: 58px;
      @include phone() {
        height: 47px;
      }

      &-btns {
        max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include phone() {
          gap: 10px;
        }
      }
      &-submit,
      &-reset {
        width: 235px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        @include paragraph($color: $white);
        background-color: $darkgreen;
        @include transition(background-color);
      }

      &-submit {
        &:hover {
          background-color: $teal;
          @include phone() {
            background-color: $darkgreen;
          }
        }
        &:active {
          background-color: $steelteal;
          @include phone() {
            background-color: $darkgreen;
          }
        }
      }

      &-reset {
        background-color: $mintcream;
        color: $darkgreen;
        &:hover {
          background-color: $whitesmoke;
          @include phone() {
            background-color: $mintcream;
          }
        }
        &:active {
          background-color: $timberwolf;
          @include phone() {
            background-color: $mintcream;
          }
        }
      }
    }
  }
}
