.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 135px auto 0;
  height: 88px;
  background-color: $beigegray;
  @include link-font($font-size: 20px);

  @include phone() {
    @include blockSize(100%, 550px, 75px auto 0);
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1168px;
    width: 100%;
    padding: 0 53px;

    @media (max-width: 760px) {
      justify-content: center;
    }

    @include phone() {
      height: 53px;
      padding: 0 21px;
    }

    &__subtitle {
      color: $light-gray;

      @include phone() {
        text-align: center;
      }
    }

    .footer-contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 28px;

      @include phone() {
        width: 320px;
        height: 23px;
        margin: 0 auto;
      }

      &__link {
        display: flex;
        cursor: pointer;
        text-decoration: none;
        color: $black;
      }

      &__img {
        @include blockSize(38px, null, 0 12px 0 0);
        height: 26px;

        @include phone() {
          width: 20px;
          height: 20px;
        }
      }

      &__name {
        border-bottom: 1px solid transparent;
        @include transition(color);
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid $black;

          @include tablet() {
            border-bottom: 1px solid transparent;
          }

          @include phone() {
            border-bottom: 1px solid transparent;
          }
        }

        &:active {
          border-bottom: 1px solid $gold;
          color: $gold;
        }
      }
    }
  }
}
