.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 135px auto 0;
  height: 88px;
  background-color: #f4f0e9;
  font-size: 20px;
  line-height: 28px;
  @include phone() {
    height: 95px;
    font-size: 16px;
    line-height: 23px;
    padding: 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1168px;
    padding: 0 53px;
    @include tabletPhoneMixin() {
      flex-flow: column wrap;
      justify-content: space-evenly;
      height: 88px;
    }
    @include phone() {
      height: 53px;
      justify-content: space-between;
      padding: 0;
    }

    &__subtitle {
      color: #a6a6a6;
      @include tabletPhoneMixin() {
        text-align: center;
      }
    }

    .footer-contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // width: 410px;
      height: 28px;
      @include tabletPhoneMixin() {
        width: 420px;
        margin: 0 auto;

        // padding: 0 21px;
      }
      @include phone() {
        width: 320px;
        height: 23px;
      }
      &__link {
        display: flex;
        cursor: pointer;
        text-decoration: none;
        color: #1b1f2b;
        @include tabletPhoneMixin() {
          cursor: default;
        }

        &-img {
          @include blockSize(38px, null, 0 12px 0 0);
          height: 26px;
          @include phone() {
            width: 20px;
            height: 20px;
          }
        }

        &-name {
          @include transition(color);
          border-bottom: 1px solid transparent;
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid #1b1f2b;
            @include tablet() {
              border-bottom: 1px solid transparent;
            }
            @include tabletPhoneMixin() {
              border-bottom: 1px solid transparent;
              cursor: default;
              color: #1b1f2b;
            }
          }

          &:active {
            border-bottom: 1px solid #efa501;
            color: #efa501;
            @include tabletPhoneMixin() {
              border-bottom: 1px solid transparent;
              cursor: default;
              color: #1b1f2b;
            }
            @include tabletPhoneMixin() {
              @include transition(null);
            }
          }
        }
      }
    }
  }
}
