.intro {
  height: 831px;
  margin: 0 auto;
  background: url(../img/header/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include phone() {
    height: 488px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    height: 831px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);

    @include phone() {
      bottom: 0;
      min-width: 360px;
      height: 488px;
    }
  }
  &-block {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 360px;
    height: 88px;

    .nav-menu {
      display: flex;
      justify-content: space-between;
      position: relative;
      @include blockSize(100%, 1168px, 29px 57px 0);

      @include phone() {
        #logo-img {
          width: 133px;
          height: 23px;
        }
        @include blockSize(100%, 550px, 32.5px 20px 0);
        min-width: 320px;
      }

      &__list {
        display: flex;
        gap: 50px;
        height: 28px;
        list-style-type: none;
        @include tablet() {
          gap: 30px;
        }
        @media (max-width: 900px) {
          display: none;
        }

        &-item {
          border-bottom: 1px solid transparent;
          @include transition(border-bottom);
          &:hover {
            border-bottom: 1px solid $white;
          }
        }
        &-link {
          text-decoration: none;
          @include link-font(null, 20px);
        }
      }

      &__tel {
        text-decoration: none;
        @include link-font(null, 20px);
      }
    }
  }

  &-content {
    position: absolute;
    text-align: center;
    @include blockSize(100%, 100%, 88px 0 0 0);
    min-width: 360px;
    height: 743px;

    @include phone() {
      height: 400px;
    }

    &__title {
      @include blockSize(100%, 768px, 119px auto 0);
      @include font(700, 96px, 105px, $white);
      letter-spacing: 1.92px;

      @media (max-width: 720px) {
        @include blockSize(null, 100%, 135px auto 0);
        @include font(700, 76px, 90px, $white);
      }

      @include phone() {
        @include blockSize(360px, 100%, 52px auto 0);
        @include font(700, 32px, 38px, $white);
      }
    }

    &__subtitle {
      @include blockSize(100%, 562px, 50px auto 0);
      color: $white;

      @include tablet() {
        width: 442px;
      }

      @include phone() {
        @include blockSize(315px, 100%, 40px auto 0);
      }
    }

    &__btn {
      margin-top: 50px;
      padding: 0;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background-color: $white;
      @include paragraph(null, 17px, 24px, $black);
      @include phone() {
        margin-top: 40px;
      }
      &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 118px;
        height: 34px;
        border-radius: 10px;
        text-decoration: none;
        color: $black;
        @include transition(background-color, color);

        @include phone() {
          width: 114px;
          &:hover {
            background-color: inherit;
            color: $black;
          }
          &:active {
            background-color: inherit;
          }
        }

        &:hover {
          background-color: $gold;
          color: $white;
        }
        &:active {
          background-color: #f8e6be;
          color: $black;
        }
      }
    }
  }
}
