.header {
  height: 831px;
  background: url(../img/header/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  @include phone() {
    height: 488px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    height: 831px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    @include phone() {
      bottom: 0;
      min-width: 360px;
      height: 488px;
    }
  }
  .header-block {
    position: absolute;
    left: 0;
    right: 0;
    height: 88px;
    min-width: 360px;

    .header-block-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      height: 88px;
      @include blockSize(100%, 1168px, 0 auto);
      padding-top: 6px;
      @include laptop() {
        padding: 0 53px 0;
      }
      @include phone() {
        #logo-img {
          width: 133px;
        }
        @include blockSize(100%, 550px, 0 auto);
        min-width: 320px;
        padding: 0 20px 0;
      }

      .nav-menu {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 468px;
        height: 28px;
        @include laptop() {
          max-width: 408px;
        }
        @include phone() {
          display: none;
        }
        @include tablet() {
          display: none;
        }

        &__item {
          @include transition(border-bottom);
          &:hover {
            border-bottom: 1px solid $white-color;
          }
          &-link {
            text-decoration: none;
            @include font(400, 20px, 28px, $white-color);
          }
        }
      }

      &__tel {
        text-decoration: none;
        @include font(400, 20px, 28px, $white-color);
        @include phone() {
          @include font(400, 16px, 23px, $white-color);
        }
      }
    }
  }

  .header-content {
    position: absolute;
    text-align: center;
    @include blockSize(100%, 100%, 88px 0 0 0);
    height: 743px;
    min-width: 360px;
    @include phone() {
      height: 400px;
    }

    &__title {
      @include blockSize(100%, 768px, 119px auto 0);
      @include font(700, 96px, 105px, $white-color);
      letter-spacing: 2px;
      @include phone() {
        @include blockSize(360px, 100%, 52px auto 0);
        @include font(700, 34px, 38px, $white-color);
      }
    }

    &__subtitle {
      @include blockSize(100%, 562px, 50px auto 0);
      color: $white-color;
      @include laptop() {
        width: 442px;
      }
      @include phone() {
        @include blockSize(315px, 100%, 41px auto 0);
      }
    }

    &__btn {
      margin-top: 50px;
      padding: 0;
      border-radius: 10px;
      border: none;
      background-color: $white-color;
      @include font(400, 17px, 24px, $black-color);
      cursor: pointer;
      @include phone() {
        margin-top: 40px;
        @include font(400, 16px, 23px, $black-color);
      }

      &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 118px;
        height: 34px;
        border-radius: 10px;
        text-decoration: none;
        color: $black-color;
        @include transition(background-color, color);
        @include phone() {
          width: 114px;
          &:hover {
            background-color: inherit;
            color: $black-color;
          }
          &:active {
            background-color: inherit;
          }
        }

        &:hover {
          background-color: $active-color;
          color: $white-color;
        }
        &:active {
          background-color: #f8e6be;
          color: $black-color;
        }
      }
    }
  }
}
