.comment-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;

  .comment-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 529px;
    height: 232px;
    text-align: center;
  }
  .comment-section-reviewers {
    display: flex;
    justify-content: center;
    gap: 30px;
    min-width: 117px;
    margin-top: 100px;
    color: #1b1f2b;
    .comment-section-reviewers-card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      width: 100%;
      padding: 40px;
      border-radius: 50px;
      background-color: #f4f0e9;
      &__text {
        @include font(700, 23px, 28px, $black-color);
        margin-bottom: 30px;
      }
      .comment-section-reviewers-card-info {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .comment-section-reviewers-card-info-reviewer {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          height: 90px;
          &__title {
            @include font(500, 35px, 43px, $black-color);
          }
          &__subtitle {
            width: initial;
            font-size: 16px;
            line-height: 24px;
            color: #a6a6a6;
          }
        }
        &__photo {
          width: 75px;
          height: 75px;
          border-radius: 100px;
        }
      }
    }
  }
}
@include laptop() {
  .comment-section {
    .comment-section-reviewers {
      gap: 18px;
      padding: 0 53px;
    }
  }

  @include tablet() {
    .comment-section {
      .comment-section-reviewers {
        display: flex;
        flex-flow: column nowrap;
        .comment-section-reviewers-card {
          max-width: 450px;
          &__text {
            max-width: 673px;
          }
          .comment-section-reviewers-card-info {
            @include blockSize(355px, null, 0 auto);
            // width: 355px;
            // margin: 0 auto;
            padding: 40px 0 0 0;
          }
        }
      }
    }
  }
}
@include phone() {
  .comment-section {
    @include blockSize(100%, null, 75px 0 75px 0);
    // width: 100%;
    // margin-top: 75px;
    // margin-bottom: 75px;
    .comment-section-header {
      height: 152px;
    }
    .comment-section-reviewers {
      flex-flow: column nowrap;
      align-items: center;
      gap: 18px;
      @include blockSize(360px, null, 50px 0 0 0);
      // margin-top: 50px;
      padding: 0 21px;
      // width: 360px;
      .comment-section-reviewers-card {
        align-items: center;
        max-width: 318px;
        padding: 20px;
        border-radius: 20px;
        &__text {
          @include font(700, 16px, 23px, $black-color);
        }
        .comment-section-reviewers-card-info {
          flex-wrap: nowrap;
          width: 100%;
          .comment-section-reviewers-card-info-reviewer {
            &__title {
              @include font(700, 23px, 27px, $black-color);
              margin-top: 15px;
            }
          }
          &__photo {
            height: 75px;
          }
        }
      }
    }
  }
}
