.traveler-reviews {
  // &-h {
  //   @include blockSize(100%, 529px, null);
  // }

  .reviewer-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    min-width: 117px;
    margin-top: 100px;
    color: $black;
    @include tabletPhoneMixin() {
      gap: 18px;
    }
    @media (max-width: 950px) {
      display: flex;
      flex-flow: column nowrap;
    }
    @include phone() {
      align-items: center;
      @include blockSize(360px, null, 50px 0 0 0);
    }

    .card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      width: 100%;
      padding: 40px;
      border-radius: 50px;
      background-color: $beigegray;
      @include tablet() {
        width: 400px;
      }
      @include tabletPhoneMixin() {
        width: 400px;
      }
      @include phone() {
        align-items: center;
        max-width: 318px;
        padding: 20px;
        border-radius: 20px;
      }

      &__text {
        @include paragraph(700, 23px, 28px, $black);
        margin-bottom: 30px;
        @include tablet() {
          max-width: 673px;
        }
      }

      &-content {
        display: flex;
        justify-content: space-between;
        height: 90px;
        margin-top: 40px;
        @include tablet() {
          @include blockSize(355px, null, 0 auto);
          height: initial;
          padding: 40px 40px 0 0;
        }
        @include phone() {
          flex-wrap: nowrap;
          width: 100%;
        }

        .user-info {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          height: 90px;
          min-width: 233px;
          @include phone() {
            min-width: initial;
          }
        }
        &__title {
          @include content-title-font($black);
          @include phone() {
            @include font(700, 23px, 27px, $black);
            margin-top: 15px;
          }
        }
        &__text {
          @include paragraph();
          width: initial;
          // font-size: 16px;
          // line-height: 24px;
          color: $light-gray;
        }
        &__photo {
          width: 75px;
          height: 75px;
          border-radius: 100px;
          @include phone() {
            height: 75px;
          }
        }
      }
    }
  }
}
