.your-tour-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 53px;
  @include phone() {
    padding: 0;
  }

  &-header {
    @include phone() {
      justify-content: initial;
      height: initial;
    }

    &__title {
      min-width: 598px;
      @include phone() {
        width: 100%;
        min-width: 380px;
      }
    }

    .header-menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0 53px;
      @include blockSize(100%, null, 35px 0 0 0);
      height: 28px;
      list-style-type: none;
      @include tablet() {
        flex-flow: row nowrap;
        margin: 35px auto 0;
      }
      @include tabletPhoneMixin() {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 500px;
      }
      @include phone() {
        flex-flow: row wrap;
        justify-content: center;
        @include blockSize(100%, 380px, 30px auto 0);
        padding: 0 20px;
      }
      &__item {
        padding: 0 13px 10px 0;
        @include phone() {
          display: flex;
          padding: 0 4px 4px 0;
        }
      }
      &__link {
        text-decoration: none;
        border: 2px solid transparent;
        @include font(700, 23px, 28px, $black-color);
        cursor: pointer;
        @include transition(border-bottom, color);
        @include phone() {
          padding: 7px 0 0;
          margin-right: 12px;
          @include font(700, 17px, 23px, null);
        }

        &.active {
          color: $active-color;
          border-bottom: 2px solid $active-color;
        }

        &:hover {
          border-bottom: 2px solid $active-color;
          color: $active-color;
        }
      }

      // @include phone-small() {
      //   & {
      //     @include blockSize(100%, 360px, 30px auto 0);
      //     min-width: 360px;
      //     height: 56px;
      //   }
      // }
    }
  }

  &-tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    @include blockSize(null, 1170px, 90px 0 0 0);
    @include tablet() {
      gap: 18px;
      min-width: initial;
    }
    @include tabletPhoneMixin() {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      width: 100%;
    }
    @include phone() {
      @include blockSize(100%, 100%, 60px auto 0);
      min-width: 360px;
      gap: 18px;
      padding: 0 21px;
    }

    .card-tour {
      position: relative;
      width: 31%;
      height: 531px;
      overflow: hidden;
      border-radius: $border-radius-min-761px;
      @include tablet() {
        width: 48%;
      }
      @include tabletPhoneMixin() {
        max-width: 390px;
        width: 100%;
      }
      @include phone() {
        border-radius: $border-radius-max-760px;
        width: 100%;
        height: 318px;
      }

      &:hover {
        .card-tour__img {
          @include transform(scale(1.2));
        }
      }
      &:hover {
        .card-tour-overlay__btn {
          background-color: #286562;
          @include phone() {
            background-color: transparent;
          }
        }
        .card-tour-overlay__btn:active {
          background-color: $active-color;
          @include phone() {
            background-color: transparent;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $border-radius-min-761px;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 1;
        @include phone() {
          width: 100%;
          border-radius: $border-radius-max-760px;
        }
      }

      &__img {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-min-761px;
        @include transition(transform);
        object-fit: cover;
        @include phone() {
          height: 100%;
          border-radius: $border-radius-max-760px;
          object-fit: cover;
        }
      }
      &-overlay {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        top: 50px;
        left: 50px;
        height: 445px;
        max-width: 240px;
        color: $white-color;
        z-index: 1;
        @include tablet() {
          right: 50px;
          max-width: 100%;
        }
        @include phone() {
          display: flex;
          top: 27px;
          left: 25px;
          right: 24px;
          height: initial;
          max-width: 100%;
        }

        &__title {
          @include font(500, 35px, 43px, $black-color);
          color: $white-color;
          @include phone() {
            @include font(700, 22px, 28px, $white-color);
            letter-spacing: 1px;
          }
        }

        &__price {
          margin-top: 16px;
          @include font(400, 17px, 24px, $white-color);
        }

        &__btn {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 0;
          left: -20px;
          width: 199px;
          border-radius: $border-radius-min-761px;
          cursor: pointer;
          border: none;
          background-color: transparent;
          @include transition(background-color);
          @include phone() {
            top: 240px;
            left: 0;
          }

          &-text {
            max-width: 199px;
            padding: 7px 16px 7px 20px;
            cursor: pointer;
            @include font(700, 23px, 28px, $white-color);
            @include phone() {
              display: flex;
              align-items: center;
              width: initial;
              padding: 0 16px 0 0;
              @include font(700, 16px, 23px, $white-color);
            }
          }
        }
      }
    }
    // @include phone-small() {
    //   & {
    //     max-width: 420px;
    //     flex-flow: column nowrap;
    //     .card-tour {
    //       width: 100%;
    //     }
    //   }
    // }
  }
}
