.travel-with-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 135px auto;

  @include phone() {
    min-width: 320px;
    height: 285px;
    margin: 75px auto;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 53px;

    @include phone() {
      flex-flow: column nowrap;
      height: 100%;
    }

    &__img {
      @include blockSize(100%, 370px, 0 10px 10px 0);
      min-width: 130px;
      border-radius: 50px;

      @include phone() {
        @include blockSize(130px, null, 0 0 30px 0);
        border-radius: 20px;
      }
    }

    &-content {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      width: 371px;
      height: 169px;
      margin: 10px 0 0 10px;

      @include phone() {
        width: 291px;
        height: 122px;
      }

      &__title {
        @include content-title-font($black);

        @include phone() {
          width: 291px;
          min-width: initial;
          text-align: center;
          @include font(700, 23px, 28px, $black);
        }
      }

      &__text {
        text-align: start;
        @include paragraph($color: $light-gray);

        @include phone() {
          text-align: center;
          @include paragraph($color: $light-gray);
        }
      }

      &__link {
        text-decoration: none;
        @include transition(null);
        color: $black;

        &:hover {
          border-bottom: 1px solid $black;
          cursor: pointer;
        }

        &:active {
          border-bottom: 1px solid $darkgreen;
          color: $darkgreen;
        }
      }
    }
  }
}
