.story-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  @include laptop() {
    padding: 0 60px;
  }
  @include phone() {
    margin: 75px 0;
  }

  .story-section-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 159px;
    padding: 0 20px;
    text-align: center;
  }

  .story-section-cards {
    display: flex;
    gap: 50px;
    flex-flow: column wrap;
    margin-top: 100px;
    @include phone() {
      gap: 20px;
      padding: 0 20px;
      margin-top: 50px;
    }

    .card {
      position: relative;
      height: 567px;
      overflow: hidden;
      border-radius: 50px;
      cursor: pointer;
      @include laptop() {
        height: 567px;
      }
      @include phone() {
        min-width: 318px;
        height: 455px;
        border-radius: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50px;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
        z-index: 1;
        @include phone() {
          height: 455px;
          border-radius: 20px;
        }
      }

      &__img {
        border-radius: 50px;
        @include transition(transform);
        @include transform(scale(1));
        @include laptop() {
          width: 100%;
          height: 567px;
          object-fit: cover;
        }
        @include phone() {
          height: 455px;
          max-width: 100%;
          border-radius: 20px;
        }
      }

      &:hover .card-overlay-btns .card-overlay-btns__btn {
        background-color: #286562;
        @include phone() {
          background-color: transparent;
        }

        &:active {
          background-color: #efa501;
          @include phone() {
            background-color: transparent;
          }
        }
      }

      &:hover .card__img {
        @include transform(scale(1.2));
      }

      .card-overlay {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        position: absolute;
        top: 60px;
        left: 60px;
        z-index: 1;
        color: #ffffff;
        @include laptop() {
          width: 90%;
        }
        @include phone() {
          top: 30px;
          left: 30px;
          min-width: 263px;
        }

        &__title {
          @include font(500, 35px, 43px, $white-color);
          @include phone() {
            @include font(700, 23px, 28px, $white-color);
            max-width: 86%;
            letter-spacing: 1px;
          }
        }

        &__subtitle {
          @include blockSize(initial, 603px, 37px 0 0 0);
          padding-right: 50px;
          min-width: 296px;
          height: initial;
          text-align: initial;
          color: #ffffff;
          @include laptop() {
            margin: 37px 0 0 0;
          }
          @include phone() {
            margin-top: 20px;
          }
        }

        .card-overlay-list {
          display: flex;
          flex-flow: column;
          margin-left: 12px;
          margin-top: 27px;

          @include phone() {
            margin: 27px 0 0 -7px;
          }

          &__item {
            list-style-type: none;
            font-size: 20px;
            line-height: 28px;
            @include phone() {
              margin-left: 8px;
              list-style-type: none;
              font-size: 16px;
              line-height: 23px;
            }

            &::before {
              content: "·";
              padding-right: 13px;
              font-size: 21px;
              @include phone() {
                padding-right: 10px;
              }
            }
          }
        }

        .card-overlay-btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          @include blockSize(1070px, null, 412px 0 0 -20px);
          @include laptop() {
            width: 100%;
          }
          @include phone() {
            @include blockSize(128px, null, 370px 0 0 0);
            height: 26px;
          }

          &__btn {
            display: flex;
            align-items: center;
            width: 199px;
            border-radius: 50px;
            background-color: transparent;
            border: none;
            @include transition(background-color);
            @include phone() {
              height: 26px;
            }

            &-text {
              padding: 7px 15px 7px 20px;
              margin-top: 0;
              cursor: pointer;
              @include font(700, 23px, 28px, $white-color);
              @include phone() {
                display: flex;
                align-items: center;
                margin-right: 10px;
                padding: 0;
                @include font(700, 16px, 23px, $white-color);
              }
            }

            &-img {
              max-width: 22px;
              height: 15px;
            }
          }

          .overlay-contacts {
            display: flex;
            list-style-type: none;
            font-size: 20px;
            line-height: 28px;
            @include phone() {
              display: none;
            }

            &__link {
              padding-left: 27px;
              text-decoration: none;
              color: #ffffff;
            }

            &__name {
              @include transition(color);
              &:hover {
                border-bottom: 1px solid #ffffff;
              }
              &:active {
                border-bottom: 1px solid #efa501;
                color: #efa501;
              }
            }
          }
        }
      }
    }
  }
}
